<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/style.css" />
    <title>Digital Citizenship</title>
  </head>
  <body>
    <!--=============== HEADER ===============-->
    <header class="header" id="header">
      <nav class="nav container">
        <a href="../../index.html" class="nav__logo">
          <img src="/assets/img/logo.svg" height="40" alt="" />
        </a>

        <div class="nav__menu" id="nav-menu">
          <ul class="nav__list">
            <li class="nav__item">
              <a href="../../index.html" class="nav__link">Beranda</a>
            </li>
            <li class="nav__item">
              <a href="../bantuan/index.html" class="nav__link active-link">Bantuan</a>
            </li>
            <li class="nav__item">
              <a href="../artikel/index.html" class="nav__link">Artikel</a>
            </li>
            <li class="nav__item">
              <a href="../quotes/index.html" class="button button__header">Quotes</a>
            </li>
          </ul>

          <!-- Close button -->
          <div class="nav__close" id="nav-close">
            <img src="/assets/img/icons/close.svg" width="16" alt="" />
          </div>
        </div>
        <!-- Toggle button -->
        <div class="nav__toggle" id="nav-toggle">
          <img src="/assets/img/icons/menu.svg" width="16" alt="" />
        </div>
      </nav>
    </header>

    <main class="main">
      <section class="faq">
        <div class="faq__container container">
          <div class="faq__image">
            <img src="/assets/img/faq.svg" alt="" />
          </div>
          <div class="faq__info">
            <h1 class="faq__title">Temukan Beberapa Pertanyaan Terkait</h1>
            <p class="faq__subtitle">
              Temukan beberapa pertanyaan dan jawaban yang sering ditanyakan mengenai materi terkait. Tetap semangat dan terus kembangkan pengetahuanmu. Jadilah contoh warga negara digital yang baik sesuai versimu!
            </p>
          </div>
        </div>
      </section>

      <section class="accordion">
        <div class="accordion__container container">
          <div class="accordion__item">
            <header class="accordion__header">
              <h3 class="accordion__title">Mengapa mempelajari Kewarganegaraan Digital Penting?</h3>
              <img src="/assets/img/icons/dropdown.svg" alt="" class="accordion__icon" />
            </header>

            <div class="accordion__content">
              <p class="accordion__description">
                Ada banyak aspek dari ranah digital yang dapat menjadi masalah bagi rata-rata orang dewasa muda. Konten web yang tidak difilter, jejak digital yang bersifat publik dan permanen, serta promosi yang tanpa hambatan dan perilaku
                impulsif, menjadikan dunia digital sebagai lingkungan berisiko tinggi untuk perilaku bermasalah dan merusak diri sendiri. Anak-anak yang diberi kesempatan untuk dididik dan dipersiapkan untuk dunia digital akan lebih
                berhasil dalam menavigasi dan memaksimalkan peluang yang ditawarkan teknologi, sambil mengurangi konsekuensi dan perangkapnya. <br />
                <br />
                Sama seperti kita tidak akan menyerahkan kunci mobil tanpa persiapan dan pelatihan, kita tidak boleh menyerahkan kunci teknologi tanpa melakukan hal yang sama.
              </p>
            </div>
          </div>

          <div class="accordion__item">
            <header class="accordion__header">
              <h3 class="accordion__title">Bagaimana dampak teknologi secara sosial?</h3>
              <img src="/assets/img/icons/dropdown.svg" alt="" class="accordion__icon" />
            </header>

            <div class="accordion__content">
              <p class="accordion__description">
                Sementara teknologi menawarkan banyak aksesibilitas dan komunikasi, itu juga merupakan tempat berkembang biaknya interaksi sosial negatif termasuk cyber bullying, agresi, kecanduan SMS, hubungan buatan, isolasi sosial dan
                interaksi sosial dunia nyata yang berkurang secara kualitatif.
              </p>
            </div>
          </div>

          <div class="accordion__item">
            <header class="accordion__header">
              <h3 class="accordion__title">Bagaimana dampak teknologi secara psikologis?</h3>
              <img src="/assets/img/icons/dropdown.svg" alt="" class="accordion__icon" />
            </header>

            <div class="accordion__content">
              <p class="accordion__description">
                Ada korelasi negatif antara tingkat keterlibatan teknologi dan kesejahteraan subjektif. Semakin tinggi tingkat keterlibatan dan ketergantungan pada teknologi, semakin besar kemungkinan seseorang mengalami kecemasan dan
                depresi. Satu studi menemukan bahwa siswa yang melaporkan tingkat ketergantungan yang tinggi pada ponsel mereka, juga memiliki tingkat kecemasan yang lebih tinggi dan nilai yang lebih rendah. Masalah psikologis lain yang
                terkait dengan teknologi termasuk, kecanduan, insomnia, dan gejala traumatis akibat paparan konten grafis.
              </p>
            </div>
          </div>
        </div>
      </section>
    </main>

    <footer>
      <div class="footer__logo">
        <img src="/assets/img/logo.svg" width="80" alt="" />
      </div>
      <div class="footer__nav">
        <a href="../../index.html">Beranda</a>
        <a href="../bantuan/index.html">Bantuan</a>
        <a href="../artikel/index.html">Artikel</a>
        <a href="../quotes/index.html">Quotes</a>
      </div>
      <div class="footer__socmed">
        <a href="https://facebook.com">
          <img src="/assets/img/icons/fb.svg" width="35" alt="" />
        </a>
        <a href="https://facebook.com">
          <img src="/assets/img/icons/yt.svg" width="35" alt="" />
        </a>
        <a href="https://facebook.com">
          <img src="/assets/img/icons/twitter.svg" width="35" alt="" />
        </a>
        <a href="https://facebook.com">
          <img src="/assets/img/icons/ig.svg" width="35" alt="" />
        </a>
        <a href="https://facebook.com">
          <img src="/assets/img/icons/linkedin.svg" width="35" alt="" />
        </a>
      </div>
      <hr />
      <div class="footer__copyright">
        <p>&copy; 2022 Digital CItizenship. All rights reserved.</p>
      </div>
    </footer>
    <!-- MAIN JS -->
    <script src="/assets/js/main.js"></script>
  </body>
</html>
