<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../assets/css/style.css" />
    <link rel="shortcut icon" type="image/jpg" href="../../assets/img/icon.svg" />
    <title>Digital Citizenship</title>
  </head>
  <body>
    <!--=============== HEADER ===============-->
    <header class="header" id="header">
      <nav class="nav container">
        <a href="../../index.html" class="nav__logo">
          <img src="../../assets/img/logo.svg" height="40" alt="Logo" />
        </a>

        <div class="nav__menu" id="nav-menu">
          <ul class="nav__list">
            <li class="nav__item">
              <a href="../../index.html" class="nav__link">Beranda</a>
            </li>
            <li class="nav__item">
              <a href="../bantuan/index.html" class="nav__link">Bantuan</a>
            </li>
            <li class="nav__item">
              <a href="../artikel/index.html" class="nav__link active-link">Artikel</a>
            </li>
            <li class="nav__item">
              <a href="../quotes/index.html" class="button button__header">Quotes</a>
            </li>
          </ul>

          <!-- Close button -->
          <div class="nav__close" id="nav-close">
            <img src="../../assets/img/icons/close.svg" width="16" alt="Tutup" />
          </div>
        </div>
        <!-- Toggle button -->
        <div class="nav__toggle" id="nav-toggle">
          <img src="../../assets/img/icons/menu.svg" width="16" alt="Toggle" />
        </div>
      </nav>
    </header>

    <main class="detail">
      <section class="detail__article container">
        <div class="detail__image">
          <img src="../../assets/img/detail2.png" alt="Gambar Dua Balita" />
        </div>
        <div class="detail__content">
          <small class="detail__date">Mei 27, 2022</small>
          <h1 class="detail__title">Bijak Menggunakan Media Sosial Sejak Dini</h1>
          <div class="detail__desc">
            <p>
              Kemajuan teknologi informasi dan komunikasi di dunia terus meningkat pesat. Gadget dan koneksi internet sudah menjadi bagian dari kehidupan manusia. Saat ini kita berada dalam zaman dimana hampir seluruh umat manusia dari
              negara manapun sudah terbiasa dengan teknologi dan semuanya serba terkoneksi, salah satunya negara kita.Terbentuknya masyarakat digital tersebut, perlu untuk disikapi serius oleh kita semua. Karena walaupun pada hakikatnya
              terciptanya teknologi untuk mempermudah aktivitas manusia, namun dibalik efek positif tersebut bisa jadi terdapat efek negatif yang tidak kita sadari. Oleh karena itu perlu diberikan pembinaan dan edukasi kepada masyarakat
              agar memanfaatkan teknologi digital dengan bijak. <br /><br />
              Berbicara mengenai pendidikan bagi anak, kita pasti sudah mengenal PAUD (Pendidikan Anak Usia Dini) yang merupakan jenjang pendidikan pertama sebelum jenjang pendidikan dasar yang ditujukan untuk anak yang baru lahir sampai 6
              tahun. Keberadaan PAUD bertujuan untuk mengembangkan berbagai potensi anak sejak dini agar menjadi generasi penerus bangsa yang lebih baik dari sebelumnya. PAUD yang berkualitas tentu akan membentuk anak yang berkualitas.<br /><br />
              Setiap orang tua perlu terus meng-update, berbagi informasi, dan belajar bagaimana mengasuh dan mengembangkan anak di era digital. Perkembangan zaman dan era globalisasi yang ditandai dengan pesatnya produk dan pemanfaatan
              teknologi informasi, maka konsep penyelenggaraan pembelajaran telah bergeser pada upaya perwujudan pembelajaran yang modern. Pembelajaran modern ini ditandai dengan penyampaian materi menggunakan media digital. Media digital
              menjadi salah satu komponen pembelajaran yang penting. Proses pendidikan saat ini memanfaatkan teknologi digital yang sudah banyak berkembang di dunia pendidikan, maka teknologi di manfaatkan untuk kepentingan peningkatan
              layanan dan kualitas pendidikan khususnya bagi anak usia dini. Masa emas (golden age) merupakan masa yang penting untuk menyerap pembelajaran secara maksimal sehingga pengetahuan dan pendidikan yang diterima anak pada masa ini
              akan sangat berpengaruh terhadap masa depannya. Sebagai pendidik masa emas anak sudah seharusnya dikenalkan dengan memanfaatkan media digital tentu dengan terus kita awasi dengan bijaksana dan terarah. <br /><br />
              Penggunaan media digital dapat memberikan variasi dan inovasi pada pembelajaran. Peran guru dan orang tua sangat penting untuk mempersiapkan media dengan maksimal sehingga proses pembelajaran dapat berjalan dengan lancar.
              Media digital dapat memberikan ilmu pengetahuan sebagai penyegaran pada proses pembelajaran dan dapat membuat anak menjadi lebih aktif.,senang tanpa ada unsur paksaan, inlah tujuannya dalam membelajarkan anak usia dini.
              <br /><br />
              Sejak hadirnya gawai atau gadget, kita semakin asyik menikmati waktu kita dengan menatap gawai. Terlebih lagi sekarang gawai semakin mudah untuk dimiliki. Mudah karena banyak merk gawai yang menawarkan harga murah dengan
              kualitas tinggi. gawai tidak lagi hanya digunakan orang dewasa, anak-anak juga mulai bisa menggunakan gawai. <br /><br />
              Seperti yang kita ketahui bahwa anak-anak, apalagi anak-anak usia dini merupakan "peniru ulung". Mereka akan meniru orang-orang di sekitar mereka, khususnya orang tua sebagai model utama mereka. Maka, dapat dikatakan bahwa
              orang tua memiliki peran penting sebagai pendidik utama bagi anak-anak mereka pada era digital, orang tua merupakan role model atau panutan anak-anak. Selain itu, hanya peran orang tualah yang dapat melindungi anak-anak dan
              keluarga dari penggunaan teknologi digital yang berlebihan.<br /><br />
              Orang tua harus berperan aktif dalam mendidik anak usia dini pada era digital, Orang tua harus mengetahui dengan baik teknologi digital. Sehingga, orang tua dapat memperkenalkan teknologi digital. Ajarkan anak menggunakan
              gawai. Namun, tetapi berikan batasan-batasan agar anak tetap mendapatkan manfaat dari teknologi digital. orang tua tidak hanya melarang atau memberi intuksi kepada anak saja, tetapi bersikap sebagai pendengar yang baik dan
              memberi solusi jika anak menghadapi masalah. orang tua harus bisa menjelaskan mengapa anak tidak boleh mengonsumsi konten dewasa. Manfaatkan teknologi digital untuk mengembangkan minat dan bakat anak. jika anak memiliki bakat
              menyanyi, menjahit, atau menari. Orang tua bisa memutar video tutorial yang bisa ditiru atau menjadi inspirasi bagi anak. Orang tua biasanya sibuk dengan kegiatan atau pekerjaan. Namun, luangkan waktu untuk mengajak anak
              bermain. Permainan yang dilakukan tidak harus mahal dengan jalan-jalan ke wisata mahal, orang tua bisa mengajak anak pergi ke taman di lingkungan rumah atau sekedar mengisi waktu luang dengan bermain beberapa permainan di
              rumah. <br /><br />
              Hal ini terbukti membuat anak aktif dan dapat merangsang keterampilan anak. Selain itu, orang tua dan anak bisa semakin dekat.
            </p>
            <div class="link__detail">
              <i
                >Dikutip dari <a href="https://www.kompasiana.com/purwantisrisri7170/6117b2ff06310e6e9056a502/bijak-menggunakan-media-di-era-digital-pada-anak-usia-dini">"Bijak Menggunakan Media di Era Digital pada Anak Usia Dini" </a> oleh
                Purwantisri Sri</i
              >
            </div>
          </div>
        </div>
      </section>
    </main>

    <footer>
      <div class="footer__logo">
        <img src="../../assets/img/logo.svg" width="80" alt="Logo" />
      </div>
      <div class="footer__nav">
        <a href="../../index.html">Beranda</a>
        <a href="../bantuan/index.html">Bantuan</a>
        <a href="../artikel/index.html">Artikel</a>
        <a href="../quotes/index.html">Quotes</a>
      </div>
      <div class="footer__socmed">
        <a href="https://facebook.com">
          <img src="../../assets/img/icons/fb.svg" width="35" alt="Facebook" />
        </a>
        <a href="https://youtube.com">
          <img src="../../assets/img/icons/yt.svg" width="35" alt="Youtube" />
        </a>
        <a href="https://twitter.com">
          <img src="../../assets/img/icons/twitter.svg" width="35" alt="Twitter" />
        </a>
        <a href="https://instagram.com">
          <img src="../../assets/img/icons/ig.svg" width="35" alt="Instagram" />
        </a>
        <a href="https://linkedin.com">
          <img src="../../assets/img/icons/linkedin.svg" width="35" alt="LinkedIn" />
        </a>
      </div>
      <hr />
      <div class="footer__copyright">
        <p>&copy; 2022 Digital CItizenship. All rights reserved.</p>
      </div>
    </footer>

    <!-- MAIN JS -->
    <script src="../../assets/js/main.js"></script>
  </body>
</html>
