<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../assets/css/style.css" />
    <link rel="shortcut icon" type="image/jpg" href="../../assets/img/icon.svg" />
    <title>Digital Citizenship</title>
  </head>
  <body>
    <!--=============== HEADER ===============-->
    <header class="header" id="header">
      <nav class="nav container">
        <a href="../../index.html" class="nav__logo">
          <img src="../../assets/img/logo.svg" height="40" alt="Logo" />
        </a>

        <div class="nav__menu" id="nav-menu">
          <ul class="nav__list">
            <li class="nav__item">
              <a href="../../index.html" class="nav__link">Beranda</a>
            </li>
            <li class="nav__item">
              <a href="../bantuan/index.html" class="nav__link">Bantuan</a>
            </li>
            <li class="nav__item">
              <a href="../artikel/index.html" class="nav__link active-link">Artikel</a>
            </li>
            <li class="nav__item">
              <a href="../quotes/index.html" class="button button__header">Quotes</a>
            </li>
          </ul>

          <!-- Close button -->
          <div class="nav__close" id="nav-close">
            <img src="../../assets/img/icons/close.svg" width="16" alt="Tutup" />
          </div>
        </div>
        <!-- Toggle button -->
        <div class="nav__toggle" id="nav-toggle">
          <img src="../../assets/img/icons/menu.svg" width="16" alt="Toggle" />
        </div>
      </nav>
    </header>

    <main class="detail">
      <section class="detail__article container">
        <div class="detail__image">
          <img src="../../assets/img/detail6.png" alt="Gambar Orang Depresi" />
        </div>
        <div class="detail__content">
          <small class="detail__date">Mei 27, 2022</small>
          <h1 class="detail__title">Dampak Cyberbullying</h1>
          <div class="detail__desc">
            Seiring dengan meningkatnya pengguna teknologi digital, kasus cyberbullying pun semakin banyak ditemukan. Oleh sebab itu, penting sekali bagi kita untuk mengetahui lebih dalam mengenai cyberbullying, seperti apa saja bentuknya,
            dampaknya bagi kesehatan, dan juga cara menghadapinya. Cyberbullying adalah salah satu jenis bullying atau perundungan yang dilakukan dengan menggunakan teknologi digital, seperti media sosial, pesan teks, maupun platform game.
            Seperti jenis bullying lainnya, cyberbullying juga dilakukan untuk mengintimidasi, melecehkan, menakut-nakuti, atau mempermalukan korbannya. <br /><br />
            Meski tujuannya memang sama, nyatanya cyberbullying bisa membawa dampak negatif yang lebih parah bagi korbannya daripada bullying pada umumnya. Ini karena cyberbullying dapat dilakukan secara massal dan anonim, serta jejak
            digital yang ditinggalkannya sangat sulit untuk dihilangkan. <br /><br /><span class="title__detail"> Bentuk Cyberbullying</span> <br />
            Di bawah ini adalah beberapa bentuk cyberbullying yang cukup umum ditemui: <br /><br />
          </div>
          <ul class="detail__list">
            <li>Menyebarkan berita bohong atau fitnah mengenai korban</li>
            <li>Memposting foto atau video korban yang memalukan</li>
            <li>Mengirimkan pesan dengan kata-kata kasar kepada korba</li>
            <li>Mengirimkan pesan ancaman kepada korban</li>
            <li>Mengirim pesan kebencian kepada orang lain atas nama korban</li>
          </ul>
          <p class="detail__desc">
            Semua tindakan ini bisa dimasukkan ke dalam bentuk perundungan jika pelaku melakukannya secara berulang dan dengan tujuan untuk menyakiti korbannya. Setiap bentuk cyberbullying bisa dilaporkan kepada pihak yang berwajib.
            <br /><br /><span class="title__detail"> Dampak Cyberbullying </span> <br />
            Perilaku cyberbullying bisa membawa berbagai dampak negatif bagi korbannya. Di bawah ini adalah beberapa di antaranya:<br /><br />
          </p>
          <ol>
            <li>
              <span class="title__detail"> Dampak emosional </span> <br />
              Dampak emosional biasanya merupakan dampak pertama yang dirasakan oleh korban cyberbullying. Dampak emosional ini bisa berupa:
              <div>
                <ul class="detail__list">
                  <li>Merasa malu, takut, khawatir, bahkan terhina</li>
                  <li>Merasa dikucilkan dan terisolasi dari orang lain</li>
                  <li>Merasa insecure dan tidak berdaya</li>
                  <li>Merasa dikucilkan dan terisolasi dari orang lain</li>
                  <li>Merasa kesal atau marah pada pelaku cyberbullying</li>
                  <li>Merasa harus membalas dendam, baik pada pelaku cyberbullying atau pada orang lain yang lebih lemah</li>
                </ul>
                <p class="detail__desc">
                  Nah, beragam dampak di atas kemudian dapat menyebabkan perubahan perilaku pada korban cyberbullying, seperti kehilangan minat pada hal-hal yang sebelumnya disukai, mengisolasi diri dari orang lain, dan mengalami penurunan
                  prestasi. Selain itu, penelitian juga menyebutkan, korban cyberbullying diketahui memiliki risiko lebih besar untuk mengonsumsi minuman beralkohol dan menggunakan obat-obatan terlarang.
                </p>
                <br />
              </div>
            </li>
            <li>
              <span class="title__detail"> Dampak bagi kesehatan mental </span> <br />
              <p class="detail__desc">
                Bila cyberbullying terjadi dalam jangka waktu yang lama, dampak emosional yang terus-menerus dirasakan korban dapat berefek bagi kesehatan mentalnya. Korban lama-kelamaan akan mulai kehilangan kepercayaan diri dan harga
                dirinya. Hal tersebut kemudian dapat meningkatkan risiko terjadinya stres berkepanjangan, gangguan kecemasan, dan depresi. Pada beberapa kasus, cyberbullying bahkan dapat menyebabkan korbannya melakukan self-harm (perilaku
                menyakiti diri sendiri) dan percobaan bunuh diri.
              </p>
              <br />
            </li>
            <li>
              <span class="title__detail"> Dampak bagi kesehatan fisik </span> <br />
              <p class="detail__desc">
                Nah, beragam dampak cyberbullying bagi kesehatan mental seperti yang sudah disebutkan di atas, misalnya mengalami stres berkepanjangan dan rasa cemas berlebihan, ternyata juga dapat memengaruhi kesehatan fisik korban
                cyberbullying. Beberapa gangguan kesehatan fisik yang dapat terjadi adalah: <br />
                <br />
              </p>
              <ul class="detail__list">
                <li>Gangguan pencernaan, seperti sakit perut, maag, mual, muntah, atau diare</li>
                <li>Gangguan makan, seperti hilang nafsu makan atau justru mengalami stress eating</li>
                <li>Gangguan tidur, seperti mimpi buruk berkepanjangan, insomnia, atau bahkan tidur lebih sering dari biasanya</li>
              </ul>
            </li>
            <div class="detail__desc">
              Jika tidak diatasi dengan tepat, beragam gangguan kesehatan ini lama-kelamaan dapat berkembang menjadi gangguan kesehatan yang lebih serius. <br />
              <br />
              <span class="title__detail">Cara Mengatasi Cyberbullying </span> <br />
              Tak jarang, korban cyberbullying tidak menyadari bahwa dirinya sedang mengalami hal tersebut. Oleh sebab itu, bila kamu merasakan beragam dampak cyberbullying pada dirimu, ada beberapa cara yang bisa kamu lakukan untuk
              mengatasinya, yaitu: <br /><br />

              <ul class="detail__list">
                <li>Ceritakan mengenai cyberbullying yang kamu alami kepada orang yang kamu percayai, seperti sahabat atau keluarga.</li>
                <li>Blokir pelaku cyberbullying, jika memungkinkan.</li>
                <li>Hindari merespons cyberbullying yang kamu dapatkan.</li>
                <li>Hindari meneruskan pesan kebencian kepada orang lain.</li>
                <li>Lakukan detoks digital selama beberapa waktu.</li>
                <li>Cari kegiatan yang kamu sukai untuk mengalihkan perhatian dari cyberbullying yang kamu alami.</li>
                <li>Ganti kata sandi media sosial secara berkala, guna menghindari peretasan akun.</li>
                <li>Biasakan untuk berpikir dua kali sebelum memposting informasi pribadi, seperti data diri, foto, atau video.</li>
                <li>Simpan bukti cyberbullying yang kamu dapatkan untuk dilaporkan kepada pihak yang berwajib, jika diperlukan.</li>
              </ul>
              Itulah beberapa cara yang bisa kamu lakukan untuk mengatasi cyberbullying. Namun, bila setelah melakukannya kamu tetap merasa tidak kuat menghadapinya seorang diri, atau dampak cyberbullying terasa semakin parah, jangan ragu
              untuk berkonsultasi dengan psikolog, ya.
            </div>
          </ol>
          <div class="link__detail">
            <i>Dikutip dari <a href="https://www.alodokter.com/seputar-cyberbullying-yang-penting-untuk-diketahui">Seputar Cyberbullying yang Penting untuk Diketahui</a></i>
          </div>
        </div>
      </section>
    </main>

    <footer>
      <div class="footer__logo">
        <img src="../../assets/img/logo.svg" width="80" alt="Logo" />
      </div>
      <div class="footer__nav">
        <a href="../../index.html">Beranda</a>
        <a href="../bantuan/index.html">Bantuan</a>
        <a href="../artikel/index.html">Artikel</a>
        <a href="../quotes/index.html">Quotes</a>
      </div>
      <div class="footer__socmed">
        <a href="https://facebook.com">
          <img src="../../assets/img/icons/fb.svg" width="35" alt="Facebook" />
        </a>
        <a href="https://youtube.com">
          <img src="../../assets/img/icons/yt.svg" width="35" alt="Youtube" />
        </a>
        <a href="https://twitter.com">
          <img src="../../assets/img/icons/twitter.svg" width="35" alt="Twitter" />
        </a>
        <a href="https://instagram.com">
          <img src="../../assets/img/icons/ig.svg" width="35" alt="Instagram" />
        </a>
        <a href="https://linkedin.com">
          <img src="../../assets/img/icons/linkedin.svg" width="35" alt="LinkedIn" />
        </a>
      </div>
      <hr />
      <div class="footer__copyright">
        <p>&copy; 2022 Digital CItizenship. All rights reserved.</p>
      </div>
    </footer>

    <!-- MAIN JS -->
    <script src="../../assets/js/main.js"></script>
  </body>
</html>
