<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../assets/css/style.css" />
    <link rel="shortcut icon" type="image/jpg" href="../../assets/img/icon.svg" />
    <title>Digital Citizenship</title>
  </head>
  <body>
    <!--=============== HEADER ===============-->
    <header class="header" id="header">
      <nav class="nav container">
        <a href="../../index.html" class="nav__logo">
          <img src="../../assets/img/logo.svg" height="40" alt="Logo" />
        </a>

        <div class="nav__menu" id="nav-menu">
          <ul class="nav__list">
            <li class="nav__item">
              <a href="../../index.html" class="nav__link">Beranda</a>
            </li>
            <li class="nav__item">
              <a href="../bantuan/index.html" class="nav__link">Bantuan</a>
            </li>
            <li class="nav__item">
              <a href="../artikel/index.html" class="nav__link active-link">Artikel</a>
            </li>
            <li class="nav__item">
              <a href="../quotes/index.html" class="button button__header">Quotes</a>
            </li>
          </ul>

          <!-- Close button -->
          <div class="nav__close" id="nav-close">
            <img src="../../assets/img/icons/close.svg" width="16" alt="Tutup" />
          </div>
        </div>
        <!-- Toggle button -->
        <div class="nav__toggle" id="nav-toggle">
          <img src="../../assets/img/icons/menu.svg" width="16" alt="Toggle" />
        </div>
      </nav>
    </header>

    <main class="detail">
      <section class="detail__article container">
        <div class="detail__image">
          <img src="../../assets/img/detail3.png" alt="" />
        </div>
        <div class="detail__content">
          <small class="detail__date">Mei 27, 2022</small>
          <h1 class="detail__title">Fitur Interaksi Online agar Tetap Saling Terhubung</h1>
          <div class="detail__desc">
            <p>
              Komunikasi online yang kita gunakan saat ini membantu kita untuk tetap terhubung dengan keluarga, teman, dan kolega secara lebih mudah. Sesuai prinsipnya, internet yang terus berkembang dengan inovasi-inovasi media komunikasi
              online terbarunya, memang dirancang untuk memudahkan kita bertukar informasi dengan orang lain tanpa mengenal waktu dan jarak, sehingga kita tetap bisa saling terhubung, entah hanya sekadar membentuk jaringan pertemanan baru,
              berbagi kisah kehidupan atau bahkan bekerja sama. <br /><br />
              Pengguna media komunikasi online memanfaatkan perkembangan teknologi untuk mengirim dan berbagi sesuatu yang lebih dari sekadar pesan teks sederhana. Hari ini, terus bermunculan aplikasi dan jejaring sosial baru yang
              menyediakan begitu banyak fitur komunikasi online yang tidak lagi hanya berupa pesan teks sederhana. Beberapa fitur komunikasi online yang menyenangkan seperti video chat, voice chat, dan online group bisa menjadi pilihan lain
              cara kita terhubung di dunia maya dengan lebih mudah dan menyenangkan.
            </p>
            <br />
          </div>
          <div>
            <i>Video Chat</i> <br /><br />
            <img src="../../assets/img/artikel1.png" alt="Ilustrasi Video Chat" /> <br /><br />
            <div class="detail__desc">
              <p>
                Fitur komunikasi yang satu ini menjadi fitur inti dari sebagian besar aplikasi perpesanan dan jejaring sosial saat ini. Video chat memungkinkan penggunanya untuk menonton video bersama, berbagi layar, dan yang paling penting
                ialah video chat bisa menyampaikan feel atau rasa dalam sebuah obrolan melalui ekspresi dan mimik wajah, walau pun hanya berkomunikasi secara online. Juga, video chat kini dilengkapi dengan pilihan filter dan emoji yang
                bervariasi.
              </p>
              <br />
              <span class="title__detail"> Obrolan melalui video ini menyediakan wadah bagi penggunanya untuk : </span> <br />
              <br />
            </div>
            <ul class="detail__list">
              <li>Menyampaikan humor dan emosi melalui ekspresi dan gerakan wajah.</li>
              <li>Mengembangkan keterampilan sosial dalam berkomunikasi dan menjaga hubungan, bahkan dalam jarak jauh.</li>
              <li>Saling berbagi kegiatan, pengalaman, dan ketertarikan satu sama lain.</li>
            </ul>
            <br />
          </div>
          <div>
            <i>Voice Chat</i> <br /><br />
            <img src="../../assets/img/artikel2.png" alt="Ilustrasi Voice Chat" /> <br /><br />
            <div class="detail__desc">
              <p>
                Sesuai namanya, fitur komunikasi online ini berbasis pada suara. Berbeda dengan pesan teks, voice chat memberi kita keleluasaan untuk mengirim pesan yang maknanya akan lebih tersampaikan ke lawan bicara, karena minimnya
                peluang salah pemaknaan seperti yang sering terjadi ketika membaca pesan teks sarkasme namun disalah artikan.<br /><br />
                Fitur voice chat biasanya paling sering digunakan oleh kalangan gamer untuk berkomunikasi dengan rekan satu tim saat game sedang berlangsung. Dalam dunia gamer, voice chat digunakan untuk mengatur strategi, bekerja sama dan
                mengembangkan keterampilan kolaboratif pemainnya.<br /><br />
                Voice chat juga bisa digunakan untuk membentuk suatu forum obrolan dengan topik diskusi yang disesuaikan dengan minat penggunanya. Baru-baru ini dunia komunikasi online berbasis suara kedatangan pendatang anyar Clubhouse.
                Dilansir dari suara.com, Clubhouse adalah aplikasi media sosial yang berbasis obrolan suara. Berbeda dengan aplikasi yang berbasis teks, Clubhouse lebih difokuskan pada konten audio untuk berinteraksi. Uniknya, aplikasi ini
                merupakan aplikasi untuk mendengarkan obrolan, wawancara, atau diskusi mengenai berbagai topik secara live. Jadi kita bisa secara langsung mendengarkan siaran yang tengah dilakukan oleh penyelenggara.
              </p>
              <br />
            </div>
          </div>
          <div>
            <i>Online Group </i> <br /><br />
            <img src="../../assets/img/artikel3.png" alt="Ilustrasi Online Group" /> <br /><br />
            <div class="detail__desc">
              <p>
                Selain menjadi alat komunikasi, online group dapat membantu kita untuk terhubung dengan orang lain atau komunitas tertentu yang sesuai dengan minat kita. Melalui online group ini akan dihasilkan sebuah diskusi yang justru
                tidak jarang menggunakan kedua fitur video chat atau voice chat. Dalam masa pandemi Covid-19 saat ini, online group berperan sebagai media diskusi dan belajar bersama yang menyenangkan meski pun tidak face to face, karena
                fitur komunikasi online ini memberi kita kesempatan untuk terhubung dengan orang lain dengan minat yang sama, memperluas wawasan, dan membantu kita untuk mengakses ruang yang aman dan komunitas yang mendukung.
              </p>
              <br />
            </div>
          </div>
          <div class="link__detail">
            <i
              >Dikutip dari
              <a
                href="https://academy.digitalcitizenship.id/lesson/ea53f16e-c037-4ff1-9005-
              0e8aab382de7 
              "
                >Digital Citizenship Indonesia</a
              ></i
            >
          </div>
        </div>
      </section>
    </main>

    <footer>
      <div class="footer__logo">
        <img src="../../assets/img/logo.svg" width="80" alt="Logo" />
      </div>
      <div class="footer__nav">
        <a href="../../index.html">Beranda</a>
        <a href="../bantuan/index.html">Bantuan</a>
        <a href="../artikel/index.html">Artikel</a>
        <a href="../quotes/index.html">Quotes</a>
      </div>
      <div class="footer__socmed">
        <a href="https://facebook.com">
          <img src="../../assets/img/icons/fb.svg" width="35" alt="Facebook" />
        </a>
        <a href="https://youtube.com">
          <img src="../../assets/img/icons/yt.svg" width="35" alt="Youtube" />
        </a>
        <a href="https://twitter.com">
          <img src="../../assets/img/icons/twitter.svg" width="35" alt="Twitter" />
        </a>
        <a href="https://instagram.com">
          <img src="../../assets/img/icons/ig.svg" width="35" alt="Instagram" />
        </a>
        <a href="https://linkedin.com">
          <img src="../../assets/img/icons/linkedin.svg" width="35" alt="LinkedIn" />
        </a>
      </div>
      <hr />
      <div class="footer__copyright">
        <p>&copy; 2022 Digital CItizenship. All rights reserved.</p>
      </div>
    </footer>

    <!-- MAIN JS -->
    <script src="../../assets/js/main.js"></script>
  </body>
</html>
