<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../assets/css/style.css" />
    <link rel="shortcut icon" type="image/jpg" href="../../assets/img/icon.svg" />
    <title>Digital Citizenship</title>
  </head>
  <body>
    <!--=============== HEADER ===============-->
    <header class="header" id="header">
      <nav class="nav container">
        <a href="../../index.html" class="nav__logo">
          <img src="../../assets/img/logo.svg" height="40" alt="" />
        </a>

        <div class="nav__menu" id="nav-menu">
          <ul class="nav__list">
            <li class="nav__item">
              <a href="../../index.html" class="nav__link">Beranda</a>
            </li>
            <li class="nav__item">
              <a href="../bantuan/index.html" class="nav__link">Bantuan</a>
            </li>
            <li class="nav__item">
              <a href="../artikel/index.html" class="nav__link active-link">Artikel</a>
            </li>
            <li class="nav__item">
              <a href="../quotes/index.html" class="button button__header">Quotes</a>
            </li>
          </ul>

          <!-- Close button -->
          <div class="nav__close" id="nav-close">
            <img src="../../assets/img/icons/close.svg" width="16" alt="" />
          </div>
        </div>
        <!-- Toggle button -->
        <div class="nav__toggle" id="nav-toggle">
          <img src="../../assets/img/icons/menu.svg" width="16" alt="" />
        </div>
      </nav>
    </header>

    <main class="main" id="article">
      <section class="main__article container">
        <div class="main__container">
          <div class="main__image">
            <img src="../../assets/img/article1.png" alt="" />
          </div>
          <div class="main__content">
            <small class="main__date">Mei 27, 2022</small>
            <h1 class="main__title">10 Manfaat Sosial Media dalam Kehidupan Sehari-hari</h1>
            <p class="main__desc">
              Media sosial (medsos) sudah menjadi bagian yang tak terpisahkan dalam kehidupan sehari-hari. Hal ini disebabkan oleh perkembangan teknologi yang pesat sehingga media sosial menjadi booming seperti sekarang ini. Bahkan di satu
              gadget saja, seseorang bisa memiliki lebih...
            </p>
            <a href="manfaat-sosial-media.html" class="main__more">Lihat Selengkapnya</a>
          </div>
        </div>
        <div class="second__container">
          <div class="contents">
            <div class="second__image">
              <img src="../../assets/img/article2.png" alt="" />
            </div>
            <div class="second__content">
              <small class="second__date">Mei 27, 2022</small>
              <h3 class="second__title">Bijak Menggunakan Media Sosial Sejak Dini</h3>
              <p class="second__desc">Kemajuan teknologi informasi dan komunikasi di dunia terus meningkat...</p>
              <a href="bijak-sejak-dini.html" class="second__more">Lihat Selengkapnya</a>
            </div>
          </div>
          <div class="contents">
            <div class="second__image">
              <img src="../../assets/img/article3.png" alt="" />
            </div>
            <div class="second__content">
              <small class="second__date">Mei 27, 2022</small>
              <h3 class="second__title">Fitur Interaksi Online agar Tetap Saling Terhubung</h3>
              <p class="second__desc">Komunikasi online yang kita gunakan saat ini membantu kita untuk tetap terhubung...</p>
              <a href="fitur-interaksi-online.html" class="second__more">Lihat Selengkapnya</a>
            </div>
          </div>
          <div class="contents">
            <div class="second__image">
              <img src="../../assets/img/article4.png" alt="" />
            </div>
            <div class="second__content">
              <small class="second__date">Mei 27, 2022</small>
              <h3 class="second__title">Pemanfaatan Internet Sebagai Media Belajar</h3>
              <p class="second__desc">Internet menjadi teknologi yang paling diandalkan di era digital seperti sekarang...</p>
              <a href="internet-media-belajar.html" class="second__more">Lihat Selengkapnya</a>
            </div>
          </div>
          <div class="contents">
            <div class="second__image">
              <img src="../../assets/img/article5.png" alt="" />
            </div>
            <div class="second__content">
              <small class="second__date">Mei 27, 2022</small>
              <h3 class="second__title">Sosial Media Menunjang Karir</h3>
              <p class="second__desc">Kalau bicara tentang Kemajuan Teknologi dan Informasi, kurang lengkap ya kalau...</p>
              <a href="medsos-menunjang-karir.html" class="second__more">Lihat Selengkapnya</a>
            </div>
          </div>
          <div class="contents">
            <div class="second__image">
              <img src="../../assets/img/article6.png" alt="" />
            </div>
            <div class="second__content">
              <small class="second__date">Mei 27, 2022</small>
              <h3 class="second__title">Dampak Cyberbullying</h3>
              <p class="second__desc">Seiring dengan meningkatnya pengguna teknologi digital, kasus cyberbullying...</p>
              <a href="dampak-cyberbullying.html" class="second__more">Lihat Selengkapnya</a>
            </div>
          </div>
          <div class="contents">
            <div class="second__image">
              <img src="../../assets/img/article7.png" alt="" />
            </div>
            <div class="second__content">
              <small class="second__date">Mei 27, 2022</small>
              <h3 class="second__title">Maraknya Kejahatan Dunia Maya</h3>
              <p class="second__desc">Di tengah perkembangan teknologi dan ilmu pengetahuan yang begitu pesat, kejahatan...</p>
              <a href="kejahatan-dunia-maya.html" class="second__more">Lihat Selengkapnya</a>
            </div>
          </div>
        </div>
      </section>
    </main>

    <footer>
      <div class="footer__logo">
        <img src="../../assets/img/logo.svg" width="80" alt="" />
      </div>
      <div class="footer__nav">
        <a href="../../index.html">Beranda</a>
        <a href="../bantuan/index.html">Bantuan</a>
        <a href="../artikel/index.html">Artikel</a>
        <a href="../quotes/index.html">Quotes</a>
      </div>
      <div class="footer__socmed">
        <a href="https://facebook.com">
          <img src="../../assets/img/icons/fb.svg" width="35" alt="" />
        </a>
        <a href="https://facebook.com">
          <img src="../../assets/img/icons/yt.svg" width="35" alt="" />
        </a>
        <a href="https://facebook.com">
          <img src="../../assets/img/icons/twitter.svg" width="35" alt="" />
        </a>
        <a href="https://facebook.com">
          <img src="../../assets/img/icons/ig.svg" width="35" alt="" />
        </a>
        <a href="https://facebook.com">
          <img src="../../assets/img/icons/linkedin.svg" width="35" alt="" />
        </a>
      </div>
      <hr />
      <div class="footer__copyright">
        <p>&copy; 2022 Digital CItizenship. All rights reserved.</p>
      </div>
    </footer>

    <!-- MAIN JS -->
    <script src="../../assets/js/main.js"></script>
  </body>
</html>
