<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/style.css" />
    <title>Digital Citizenship</title>
  </head>
  <body>
    <!--=============== HEADER ===============-->
    <header class="header" id="header">
      <nav class="nav container">
        <a href="../../index.html" class="nav__logo">
          <img src="/assets/img/logo.svg" height="40" alt="" />
        </a>

        <div class="nav__menu" id="nav-menu">
          <ul class="nav__list">
            <li class="nav__item">
              <a href="../../index.html" class="nav__link">Beranda</a>
            </li>
            <li class="nav__item">
              <a href="../bantuan/index.html" class="nav__link">Bantuan</a>
            </li>
            <li class="nav__item">
              <a href="../artikel/index.html" class="nav__link active-link">Artikel</a>
            </li>
            <li class="nav__item">
              <a href="../quotes/index.html" class="button button__header">Quotes</a>
            </li>
          </ul>

          <!-- Close button -->
          <div class="nav__close" id="nav-close">
            <img src="/assets/img/icons/close.svg" width="16" alt="" />
          </div>
        </div>
        <!-- Toggle button -->
        <div class="nav__toggle" id="nav-toggle">
          <img src="/assets/img/icons/menu.svg" width="16" alt="" />
        </div>
      </nav>
    </header>

    <main class="detail">
      <section class="detail__article container">
        <div class="detail__image">
          <img src="/assets/img/detail4.png" alt="" />
        </div>
        <div class="detail__content">
          <small class="detail__date">Mei 27, 2022</small>
          <h1 class="detail__title">Pemanfaatan Internet Sebagai Media Belajar</h1>
          <div class="detail__desc">
            <p>
              Internet menjadi teknologi yang paling diandalkan di era digital seperti sekarang untuk membantu umat manusia dalam melakukan berbagai macam aktivitas. Dalam dunia pendidikan sendiri, internet memainkan peran yang sangat
              vital. Tidak bisa diragukan lagi bahwa kini semua orang lebih memilih Google untuk menjawab pertanyaan, masalah, serta keraguan mereka. Search engine seperti Google, Bing, dll. menjadi pilihan karena mereka menawarkan akses
              yang sangat cepat dan mudah menuju lautan informasi dan pengetahuan. Kehadiran internet juga meningkatkan kesempatan belajar untuk siapa saja tanpa terkecuali. Internet memungkinkan orang-orang yang dulunya terhambat oleh
              usia, kondisi sosial ekonomi, hingga wilayah geografis untuk ikut serta dalam proses pembelajaran. Misalnya, siswa bisa tetap berinteraksi dan terhubung dengan teman dan gurunya, atau bahkan menonton dan mengikuti pembelajaran
              sekolah lain yang lokasinya jauh sekali. Nah, di bawah ini adalah beberapa contoh dari pemanfaatan internet untuk memperluas kesempatan belajar. <br />
              <br />
              <span class="title__detail"> Kursus Daring</span> <br />
              <br />
              Daripada hanya sekadar membaca atau mengumpulkan informasi terkait suatu keterampilan dan pengetahuan secara daring, kenapa tidak mencoba untuk mengambil kelas ataupun kursus terkait topik tersebut? Pertanyaan ini terjawab
              dengan kehadiran MOOC (Massive Open Online Course), kursus daring gratis yang tersedia bagi siapa pun yang ingin mendaftar. MOOC menyediakan akses yang terjangkau dan fleksibel tentunya untuk mempelajari keterampilan atau
              pengetahuan baru, mengembangkan karier, merasakan pengalaman belajar yang berbeda serta berkualitas, dan masih banyak lagi. Di dalam MOOC sendiri, Anda akan mengikuti pembelajaran bersama ribuan orang lainnya di luar sana
              secara daring, sebab segala bahan pelajaran juga akan disampaikan sepenuhnya secara daring. Melalui sistem pembelajaran seperti ini, Anda dapat menonton perkuliahan, membaca materi secara lengkap, dan berpartisipasi dalam
              tutorial, sama halnya dengan pembelajaran luring di kampus. Selain itu, Anda juga bisa mendiskusikan topik tertentu dengan peserta lain, menawarkan, serta menerima bantuan dari mereka (jika dibutuhkan). Yang membedakan adalah
              Anda akan melakukannya secara daring sehingga kapan dan di mana Anda mengikuti pembelajaran adalah sesuka hati Anda. Sekarang, ada banyak sekali situs penyedia kursus daring yang bisa dicoba, baik dari perusahaan, komunitas,
              lembaga pemerintahan, sampai perguruan tinggi. Contohnya, TedEx, Coursera, Udemy, Harvard University, dan masih banyak lagi. Kebanyakan situs tersebut menyediakan kursus daring yang gratis pula. Jadi, hanya berbekal internet,
              Anda bisa dengan leluasa menyelami dalamnya ilmu pengetahuan.
            </p>
            <br />
            <br />
          </div>
          <div>
            <span class="title__detail"> Kolaborasi Daring</span> <br />
            <br />
            <img src="/assets/img/belajar1.png" alt="" /> <br /><br />
            <div class="detail__desc">
              <p>
                Semakin banyak Anda terhubung satu sama lain dalam proses pembelajaran, semakin kaya pula pengalaman dan ilmu yang bisa didapatkan. Dalam hal ini, kolaborasi menjadi aspek yang penting dalam pembelajaran masa kini sekaligus
                masa depan. Kegiatan-kegiatan yang bersifat kolaboratif jelas membantu siapa saja tanpa terkecuali untuk saling berbagi ide dan mengungkapkan pendapat. <br /><br />
                Beragam software yang ada bisa dimanfaatkan untuk menghubungkan orang-orang secara digital dalam melakukan kolaborasi maupun membangun komunitas belajar di tengah ruangan online. Software yang mendukung kolaborasi umumnya
                dilengkapi dengan fitur canggih yang memungkinkan para penggunanya untuk berkomunikasi dan berinteraksi melalui video, suara, serta teks. Saat ini, kebanyakan siswa menggunakan software semacam Google Suite dan Microsoft
                Office 365 untuk berkolaborasi dalam proses pembelajaran, baik dengan guru di kelas maupun dengan teman-temannya, kapan pun dan di mana pun. Di samping itu pun, para guru juga memakai Google Classroom untuk mengatur dan
                membagikan materi pembelajaran kepada para siswa, sekaligus memberikan penilaian atas tugas-tugas yang diberikan.
              </p>
              <br />
            </div>
          </div>
          <div>
            <span class="title__detail"> Kurasi Digital</span> <br />
            <br />
            <img src="/assets/img/belajar2.png" alt="" /> <br /><br />
            <div class="detail__desc">
              <p>
                Proses memilih, mengumpulkan, memelihara, mengatur, mengarsipkan, serta menyajikan informasi atau konten digital disebut dengan kurasi digital. Di sisi lain, orang yang melakukan kurasi digital bisa dikenal dengan sebutan
                kurator digital. Bisa dikatakan, berbagai informasi atau konten yang sudah dikurasi adalah hasil “saringan” yang menurut sang kurator sudah relevan. <br />
                <br />
                Semua orang tentu tahu berapa banyak hasil yang bisa mereka dapatkan ketika mencari maupun menelusuri sesuatu lewat search engine seperti Google. Beraneka macam gambar, video, situs, artikel, jurnal, dan sebagainya akan
                muncul dengan tingkat relevansi atau kesesuaian yang berbeda-beda. Dalam konteks ini, kurator digital akan menavigasi dan menentukan informasi-informasi yang sekiranya relevan dengan tujuannya, sekaligus mengelompokkan
                informasi dan membagikannya kepada audiens yang lebih luas. <br /><br />
                Keterampilan kurasi digital sangatlah penting bagi generasi muda supaya mereka bisa menavigasi dunia digital secara efektif dan efisien. Baik orang tua maupun guru tentunya dapat membantu dan membimbing mereka sejak dini
                dengan memahami topik yang sering mereka cari di internet, mengenalkan keyword-keyword yang lebih cocok dalam pencarian informasi, mempertimbangkan seberapa relevan dan tepercaya informasi yang mereka dapatkan, serta
                mengajarkan cara menggunakan sekaligus membagikan informasi dengan bijak.
              </p>
              <br />
            </div>
          </div>
          <div>
            <span class="title__detail">Karyawisata Virtual </span> <br />
            <br />
            <img src="/assets/img/belajar3.png" alt="" /> <br /><br />
            <div class="detail__desc">
              <p>
                Karyawisata virtual (virtual field trip) menawarkan kemudahan dalam mengeksplorasi dunia digital melalui gambar, video, suara, serta animasi. Terobosan ini menjadi metode pembelajaran yang interaktif, menarik, dan tidak
                monoton untuk menghubungkan para siswa, baik di ruang kelas maupun di rumah dengan dunia luar. Kehadiran karyawisata virtual jelas memperkaya pengalaman belajar siswa sekaligus memberikan mereka perspektif baru, lebih dari
                apa yang biasa didapatkan melalui pembelajaran konvensional. <br /><br />
                Melalui karyawisata virtual, para siswa dapat mengunjungi dan menelusuri berbagai tempat menakjubkan tanpa harus beranjak dari kursinya. Mereka bisa berkunjung ke kebun binatang, museum, tempat bersejarah, galeri seni, dan
                masih banyak lagi. Tidak hanya sekadar mampir, mereka pun dapat mempelajari dan menggali lebih dalam informasi apa saja yang bisa ditemukan di tempat tersebut. <br /><br />
                Pada dasarnya, karyawisata virtual tidak memperhitungkan masalah jarak dan biayanya pun biasanya lebih murah dari karyawisata tradisional (mengunjungi tempatnya secara langsung). Karyawisata virtual juga bisa mengeliminasi
                kebutuhan akan transportasi, waktu perjalanan, dan barang-barang fisik penunjang acara. Lebih dari itu, metode ini juga dapat meminimalisir kemungkinan “tersesat” atau “hilangnya” satu dua orang yang terpisah dari rombongan,
                di mana kasus ini cukup sering terjadi terutama pada anak-anak di bawah umur.
              </p>
              <br />
            </div>
          </div>
          <div class="link__detail">
            <i
              >Dikutip dari
              <a
                href="https://academy.digitalcitizenship.id/lesson/0cb85784-1d84-49c5-acb9-
              1a225f24906c 
              "
                >Digital Citizenship Indonesia</a
              ></i
            >
          </div>
        </div>
      </section>
    </main>

    <footer>
      <div class="footer__logo">
        <img src="/assets/img/logo.svg" width="80" alt="" />
      </div>
      <div class="footer__nav">
        <a href="../../index.html">Beranda</a>
        <a href="../bantuan/index.html">Bantuan</a>
        <a href="../artikel/index.html">Artikel</a>
        <a href="../quotes/index.html">Quotes</a>
      </div>
      <div class="footer__socmed">
        <a href="https://facebook.com">
          <img src="/assets/img/icons/fb.svg" width="35" alt="" />
        </a>
        <a href="https://facebook.com">
          <img src="/assets/img/icons/yt.svg" width="35" alt="" />
        </a>
        <a href="https://facebook.com">
          <img src="/assets/img/icons/twitter.svg" width="35" alt="" />
        </a>
        <a href="https://facebook.com">
          <img src="/assets/img/icons/ig.svg" width="35" alt="" />
        </a>
        <a href="https://facebook.com">
          <img src="/assets/img/icons/linkedin.svg" width="35" alt="" />
        </a>
      </div>
      <hr />
      <div class="footer__copyright">
        <p>&copy; 2022 Digital CItizenship. All rights reserved.</p>
      </div>
    </footer>

    <!-- MAIN JS -->
    <script src="/assets/js/main.js"></script>
  </body>
</html>
