<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../assets/css/style.css" />
    <link rel="shortcut icon" type="image/jpg" href="../../assets/img/icon.svg" />
    <title>Digital Citizenship</title>
  </head>
  <body>
    <!--=============== HEADER ===============-->
    <header class="header" id="header">
      <nav class="nav container">
        <a href="../../index.html" class="nav__logo">
          <img src="../../assets/img/logo.svg" height="40" alt="Logo" />
        </a>

        <div class="nav__menu" id="nav-menu">
          <ul class="nav__list">
            <li class="nav__item">
              <a href="../../index.html" class="nav__link">Beranda</a>
            </li>
            <li class="nav__item">
              <a href="../bantuan/index.html" class="nav__link">Bantuan</a>
            </li>
            <li class="nav__item">
              <a href="../artikel/index.html" class="nav__link active-link">Artikel</a>
            </li>
            <li class="nav__item">
              <a href="../quotes/index.html" class="button button__header">Quotes</a>
            </li>
          </ul>

          <!-- Close button -->
          <div class="nav__close" id="nav-close">
            <img src="../../assets/img/icons/close.svg" width="16" alt="Tutup" />
          </div>
        </div>
        <!-- Toggle button -->
        <div class="nav__toggle" id="nav-toggle">
          <img src="../../assets/img/icons/menu.svg" width="16" alt="Toggle" />
        </div>
      </nav>
    </header>

    <main class="detail">
      <section class="detail__article container">
        <div class="detail__image">
          <img src="../../assets/img/detail7.png" alt="Gambar Hacker" />
        </div>
        <div class="detail__content">
          <small class="detail__date">Mei 27, 2022</small>
          <h1 class="detail__title">Maraknya Kejahatan Dunia Maya</h1>
          <div class="detail__desc">
            <p>
              Di tengah perkembangan teknologi dan ilmu pengetahuan yang begitu pesat, kejahatan dalam dunia internet atau cybercrime menjadi lebih marak ditemukan juga. Mulai dari hoax, cyberbullying, scam, phising, dan banyak hal lainnya
              dapat kita temui dengan mudah di internet. Beberapa kasus sudah mulai diungkap di publik, ditujukan untuk lebih mengedukasi masyarakat untuk kejahatan di internet. Namun, akhir-akhir ini scam berada taraf paling parah di
              internet untuk pembajakan data pengguna. Apa itu scam? kejahatan ini berbentuk tindakan terencana yang memiliki tujuan mendapatkan uang atau keuntungan lainnya dengan cara menipu, mengakali, dan membajak informasi orang lain
              di Internet. Sebagai masyarakat digital yang baik, ada banyak cara yang dapat dilakukan untuk melindungi akun kalian dari segala bentuk scam atau kejahatan cyber lainnya, seperti: <br /><br />
            </p>
            <ul class="detail__list">
              <li>Berhati-hati dalam penggunaan sosial media anda, dan jangan lupa untuk mengatur privasi di setiap sosial media kalian.</li>
              <li>Menggunakan kata sandi yang kuat.</li>
              <li>Menjaga informasi pribadi kalian dan tidak membagikannya kepada pihak yang diragukan kredibilitasnya.</li>
              <li>Menggunakan piranti lunak anti-virus dan selalu memperbaruinya.</li>
            </ul>
            <p>
              Selain beberapa hal tesebut, Youth Law Australia juga membagikan beberapa strategi dan juga informasi yang perlu kalian ketahui untuk melindungi diri kalian dan akun pribadi yang kalian miliki dari segala bentuk kejahatan
              terlebih lagi scam.
            </p>
            <br />
            <p class="title__detail">Akses ke Akun Keuangan Kalian</p>
            <br />
            <img src="../../assets/img/kejahatan1.png" alt="Ilustrasi Penipuan Uang" />
            <p>
              Mengingat mereka mengincar keuntungan dari kalian, scam atau penipuan sejenis ini ini cenderung memberikan tawaran uang atau hal menarik lainnya. Penipu biasanya akan menanyakan rincian akun bank, rincian kartu kredit kalian,
              atau detail informasi lainnya yang berguna untuk mengakses uang atau harta kalian. Hal yang perlu kalian ingat adalah tidak ada seorang pun dari bank, lembaga pemerintah, atau institusi lainnya yang akan menelepon Anda tanpa
              peringatan dan menanyakan mengenai detail tersebut.
            </p>
            <br /><br />
            <p class="title__detail">Phising</p>
            <br />
            <img src="../../assets/img/kejahatan2.png" alt="Ilustrasi Phising" />
            <p>
              Phishing adalah nama yang diberikan untuk scam yang berfokus pada mendapatkan detail pribadi kalian. Selanjutnya, informasi yang mereka dapat akan digunakan untuk berpura-pura menjadi diri kalian. Semakin sedikit informasi
              pribadi yang kalian bagikan secara online secara publik, semakin terlindungi dari juga kalian dari jenis penipuan ini. Namun, apabila kalian sering membagikan informasi pribadi kalian di internet, semakin banyak juga hal yang
              mereka dapat gunakan sebagai bahan penipuan mereka.
            </p>
            <br /><br />
            <p class="title__detail">Malware</p>
            <br />
            <img src="../../assets/img/kejahatan3.png" alt="Ilustrasi Malware" />
            <p>
              Berhati-hatilah dengan file misterius, unduhlah file yang kalian inginkan dari situs-situs terpercaya! Beberapa scam menggunakan file yang berisi malware atau perangkat lunak berbahaya, ditujukan untuk mendapat akses kedalam
              perangkat pribadi kalian. Anti-virus menjadi salah-satu perlindungan pertama perangkat kalian, tetapi berhati-hati dalam pengunduhan file di internet adalah satu-satunya strategi terbaik untuk menghindari malware.
            </p>
            <br /><br />
            <div class="link__detail">
              <i>Dikutip dari <a href="https://academy.digitalcitizenship.id/lesson/cb2ce94a-36d9-49a8-bd2e-7e65b35febfe">Digital Citizenship Indonesia</a></i>
            </div>
          </div>
        </div>
      </section>
    </main>

    <footer>
      <div class="footer__logo">
        <img src="../../assets/img/logo.svg" width="80" alt="Logo" />
      </div>
      <div class="footer__nav">
        <a href="../../index.html">Beranda</a>
        <a href="../bantuan/index.html">Bantuan</a>
        <a href="../artikel/index.html">Artikel</a>
        <a href="../quotes/index.html">Quotes</a>
      </div>
      <div class="footer__socmed">
        <a href="https://facebook.com">
          <img src="../../assets/img/icons/fb.svg" width="35" alt="Facebook" />
        </a>
        <a href="https://youtube.com">
          <img src="../../assets/img/icons/yt.svg" width="35" alt="Youtube" />
        </a>
        <a href="https://twitter.com">
          <img src="../../assets/img/icons/twitter.svg" width="35" alt="Twitter" />
        </a>
        <a href="https://instagram.com">
          <img src="../../assets/img/icons/ig.svg" width="35" alt="Instagram" />
        </a>
        <a href="https://linkedin.com">
          <img src="../../assets/img/icons/linkedin.svg" width="35" alt="LinkedIn" />
        </a>
      </div>
      <hr />
      <div class="footer__copyright">
        <p>&copy; 2022 Digital CItizenship. All rights reserved.</p>
      </div>
    </footer>

    <!-- MAIN JS -->
    <script src="../../assets/js/main.js"></script>
  </body>
</html>
