<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/style.css" />
    <title>Digital Citizenship</title>
  </head>
  <body>
    <!--=============== HEADER ===============-->
    <header class="header" id="header">
      <nav class="nav container">
        <a href="../../index.html" class="nav__logo">
          <img src="/assets/img/logo.svg" height="40" alt="" />
        </a>

        <div class="nav__menu" id="nav-menu">
          <ul class="nav__list">
            <li class="nav__item">
              <a href="../../index.html" class="nav__link">Beranda</a>
            </li>
            <li class="nav__item">
              <a href="../bantuan/index.html" class="nav__link">Bantuan</a>
            </li>
            <li class="nav__item">
              <a href="../artikel/index.html" class="nav__link active-link">Artikel</a>
            </li>
            <li class="nav__item">
              <a href="../quotes/index.html" class="button button__header">Quotes</a>
            </li>
          </ul>

          <!-- Close button -->
          <div class="nav__close" id="nav-close">
            <img src="/assets/img/icons/close.svg" width="16" alt="" />
          </div>
        </div>
        <!-- Toggle button -->
        <div class="nav__toggle" id="nav-toggle">
          <img src="/assets/img/icons/menu.svg" width="16" alt="" />
        </div>
      </nav>
    </header>

    <main class="detail">
      <section class="detail__article container">
        <div class="detail__image">
          <img src="/assets/img/detail1.png" alt="" />
        </div>
        <div class="detail__content">
          <small class="detail__date">Mei 27, 2022</small>
          <h1 class="detail__title">10 Manfaat Sosial Media dalam Kehidupan Sehari-hari</h1>
          <div class="detail__desc">
            <p>
              Media sosial (medsos) sudah menjadi bagian yang tak terpisahkan dalam kehidupan sehari-hari. Hal ini disebabkan oleh perkembangan teknologi yang pesat sehingga media sosial menjadi booming seperti sekarang ini. Bahkan di satu
              gadget saja, seseorang bisa memiliki lebih dari dua aplikasi media sosial. Sebut saja Facebook, Twitter, Instagram, TikTok, dan sebagainya. Wajar saja karena terdapat beragam manfaat media sosial yang bisa didapatkan selama
              kita menggunakannya dengan bijak. <br /><br />
              <span class="title__detail"> Apa Saja Manfaat Media Sosial ?</span> <br /><br />
              Sebenarnya apa saja sih keuntungan yang bisa kita dapatkan dengan menggunakan media sosial? Mengapa berjuta-juta orang di seluruh dunia bisa menggunakannya setiap hari? Untuk menjawabnya, yuk simak 10 manfaat media sosial
              berikut ini! <br />
              <br />
            </p>
            <ul class="detail__list">
              <li>
                <span class="title__detail"> Bersosialisasi </span> <br />
                Manfaat media sosial ini memungkinkan Anda untuk berkomunikasi dengan siapa pun tanpa adanya hambatan jarak. Mau ngobrol dengan keluarga yang tinggal berjauhan? Bisa saja selama Anda memiliki kontak media sosialnya. Bahkan
                Anda juga bisa berkomunikasi dengan idola, lho! Begitu mudahnya media sosial menghubungkan kita dengan banyak orang hanya dengan aplikasi yang terinstall di gadget saja.
              </li>
              <li>
                <span class="title__detail"> Sebagai Jurnal Harian </span> <br />
                Di tengah kecanggihan teknologi seperti sekarang ini fungsi buku harian tradisional bisa digantikan oleh media sosial. Banyak orang yang tidak segan menceritakan perasaan atau apa yang dialaminya di media sosial. Jadi, tidak
                salah bila kita menyebutkan salah satu manfaat media sosial adalah sebagai jurnal harian.
              </li>
              <li>
                <span class="title__detail"> Bertemu Teman Lama </span> <br />
                Sempat lost contact dengan teman masa sekolah atau kuliah? Ingin kembali berkomunikasi dengan rekan bisnis di perusahaan yang sebelumnya? Semuanya bisa Anda lakukan dengan media sosial. Masih berkaitan dengan manfaat media
                sosial sebagai alat bersosialisasi, Anda juga bisa menjalin kembali tali silaturahmi bersama teman-teman lama, rekanan bisnis, dan lainnya. Kapan lagi kan bisa bernostalgia bersama mereka meski tinggal berjauhan?
              </li>
              <li>
                <span class="title__detail"> Mendapatkan Teman Baru </span> <br />
                Manfaat media sosial yang lainnya yaitu membuka kesempatan untuk menjalin pertemanan dengan orang baru. Dengan menggunakan media sosial, siapa tahu Anda akan bertemu dengan orang-orang yang cocok dengan Anda dan pada
                akhirnya menjadi teman mereka.
              </li>
              <li>
                <span class="title__detail"> Media Hiburan </span> <br />
                Tidak sedikit orang yang menyebutkan manfaat media sosial sebagai media hiburan. Dari platform tersebut, Anda bisa menemukan beragam konten menarik yang menghibur saat sedang suntuk atau lelah menjalankan aktivitas seharian.
              </li>
              <li>
                <span class="title__detail"> Penyalur Hobi </span> <br />
                Rasanya akan menyenangkan jika kita bisa bercerita dengan sekelompok orang yang memiliki hobi serupa. Hal ini bisa Anda dapatkan dengan menggunakan media sosial. Anda bisa bergabung ke dalam komunitas yang sesuai dengan
                minat Anda. Mulai dari berbagai tips, informasi, saling berbagi pengalaman, hingga hal-hal inspiratif lainnya bisa Anda lakukan di komunitas online tersebut.
              </li>
              <li>
                <span class="title__detail"> Mendapatkan Informasi Terkini </span> <br />
                Media sosial juga bisa dimanfaatkan sebagai sumber informasi seperti lowongan pekerjaan, berita hiburan, isu global, dan sebagainya. Karena banyaknya informasi yang bergulir dengan mudah di media sosial, Anda harus
                pandai-pandai menyaringnya agar tidak terjebak berita hoax.
              </li>
              <li>
                <span class="title__detail"> Meminta Bantuan </span> <br />
                Platform media sosial juga sering digunakan sebagai tempat untuk meminta bantuan perihal kehilangan sesuatu atau donasi bagi yang membutuhkan.
              </li>
              <li>
                <span class="title__detail"> Menambah Wawasan </span> <br />
                Melalui media sosial, banyak ilmu yang bisa Anda dapatkan secara cuma-cuma. Banyak juga tokoh-tokoh berpengaruh yang membagi ilmunya melalui media sosial. Dari media sosial juga Anda bisa mendapatkan tutorial untuk membuat
                sesuatu dan menghasilkan banyak karya. Mudahnya informasi yang bisa diakses membuka peluang untuk mendapatkan ilmu baru yang tidak terbatas.
              </li>
              <li>
                <span class="title__detail"> Sumber Cuan </span> <br />
                Media sosial juga bisa menjadi salah satu sumber penghasilan Anda, lho! Coba perhatikan berapa banyak toko online yang eksis di media sosial dan berapa banyak pengguna yang membeli di toko-toko tersebut. Selain digunakan
                untuk mencari hiburan dan sumber informasi, Anda juga bisa mencari cuan melalui media sosial.
              </li>
            </ul>
            <div class="link__detail">
              <i>Dikutip dari <a href="https://indihome.co.id/blog/10-manfaat-media-sosial-dalam-aktivitas-sehari-hari">10 Manfaat Media Sosial dalam Aktivitas Sehari-hari</a></i>
            </div>
          </div>
        </div>
      </section>
    </main>

    <footer>
      <div class="footer__logo">
        <img src="/assets/img/logo.svg" width="80" alt="" />
      </div>
      <div class="footer__nav">
        <a href="../../index.html">Beranda</a>
        <a href="../bantuan/index.html">Bantuan</a>
        <a href="../artikel/index.html">Artikel</a>
        <a href="../quotes/index.html">Quotes</a>
      </div>
      <div class="footer__socmed">
        <a href="https://facebook.com">
          <img src="/assets/img/icons/fb.svg" width="35" alt="" />
        </a>
        <a href="https://facebook.com">
          <img src="/assets/img/icons/yt.svg" width="35" alt="" />
        </a>
        <a href="https://facebook.com">
          <img src="/assets/img/icons/twitter.svg" width="35" alt="" />
        </a>
        <a href="https://facebook.com">
          <img src="/assets/img/icons/ig.svg" width="35" alt="" />
        </a>
        <a href="https://facebook.com">
          <img src="/assets/img/icons/linkedin.svg" width="35" alt="" />
        </a>
      </div>
      <hr />
      <div class="footer__copyright">
        <p>&copy; 2022 Digital CItizenship. All rights reserved.</p>
      </div>
    </footer>

    <!-- MAIN JS -->
    <script src="/assets/js/main.js"></script>
  </body>
</html>
