<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../assets/css/style.css" />
    <link rel="shortcut icon" type="image/jpg" href="../../assets/img/icon.svg" />
    <title>Digital Citizenship</title>
  </head>
  <body>
    <!--=============== HEADER ===============-->
    <header class="header" id="header">
      <nav class="nav container">
        <a href="../../index.html" class="nav__logo">
          <img src="../../assets/img/logo.svg" height="40" alt="Logo" />
        </a>

        <div class="nav__menu" id="nav-menu">
          <ul class="nav__list">
            <li class="nav__item">
              <a href="../../index.html" class="nav__link">Beranda</a>
            </li>
            <li class="nav__item">
              <a href="../bantuan/index.html" class="nav__link">Bantuan</a>
            </li>
            <li class="nav__item">
              <a href="../artikel/index.html" class="nav__link active-link">Artikel</a>
            </li>
            <li class="nav__item">
              <a href="../quotes/index.html" class="button button__header">Quotes</a>
            </li>
          </ul>

          <!-- Close button -->
          <div class="nav__close" id="nav-close">
            <img src="../../assets/img/icons/close.svg" width="16" alt="Tutup" />
          </div>
        </div>
        <!-- Toggle button -->
        <div class="nav__toggle" id="nav-toggle">
          <img src="../../assets/img/icons/menu.svg" width="16" alt="Toggle" />
        </div>
      </nav>
    </header>

    <main class="detail">
      <section class="detail__article container">
        <div class="detail__image">
          <img src="../../assets/img/detail5.png" alt="Gambar Orang Rapat" />
        </div>
        <div class="detail__content">
          <small class="detail__date">Mei 27, 2022</small>
          <h1 class="detail__title">Sosial Media Menunjang Karir</h1>
          <div class="detail__desc">
            Kalau bicara tentang Kemajuan Teknologi dan Informasi, kurang lengkap ya kalau belum bahas tentang Sosial Media. Sosial Media bisa diibaratkan seperti artis yang lagi ngehits dan naik daun. Semua orang dari orang tua, anak muda,
            sampai anak kecil sudah “melek” dengan Sosial Media. Bagi sebagian orang, Sosial Media merupakan kebutuhan pokok yang wajib ada, nggak update sehari rasanya kurang gaul. Sosial Media ada banyak jenisnya, mulai dari yang simple
            seperti email, sampai yang modern seperti Facebook, Twitter, Instagram, Snapchat dan masih banyak lagi. Semua jenis Sosial Media punya kecanggihan juga kemudahan untuk sarana komunikasi dan hiburan. Tapi kamu tau nggak kalau
            Sosial Media bukan cuma untuk ngobrol dan bersenang-senang aja? Seiring waktu, Ternyata pengaruh sosial media bisa di manfaatkan sebagai penunjang karir. Yuk baca disini! <br /><br />
          </div>
        </div>
        <ol class="list">
          <li>
            <span class="title__detail"> Promosi Diri </span> <br />
            Sosial Media bisa di gunakan untuk sarana promosi diri loh Sahabat TopKarir. Tunjukin kemampuan dan bakat yang kamu miliki untuk memancing perhatian banyak orang di Sosial Media. Mempromosikan diri ke masyarakat luar membuka
            peluang kamu untuk melesatkan karir, sudah terbukti nggak sedikit orang yang sukses dan medapatkan pekerjaan karena sosial media, biasanya karena mereka tertarik dengan bakat dan kemampuan yang kamu miliki.
          </li>
          <li>
            <span class="title__detail"> Menunjang Bisnis </span> <br />
            Bersenang-senang dan dapat penghasilan kenapa enggak? Sarana bisnis yang praktis dan murah tentu aja ada di Sosial Media. Sosial Media seperti pasar atau mall yang penuh sesak dengan pengunjung, nggak heran sosial media
            dijadikan sebagian orang untuk membuka “lapak” untuk menjual barang ataupun jasa. Manfaatkan Sosial media sebagai alat pengembang bisnis kamu Sahabat TopKarir, kalau sukses kamu bisa buka lapangan kerja baru untuk orang-orang
            yang membutuhkan.
          </li>
          <li>
            <span class="title__detail"> Membangun Relasi </span> <br />
            Kemudahan berkomunikasi lewat Sosial Media bisa menghubungkan kamu dengan teman lama ataupun mendapat teman baru. Dari aktifitas follow mem-follow kamu bisa bangun relasi dengan orang lain Sahabat TopKarir. Kemudian,
            bergabunglah dengan grup atau komunitas yang ada di Sosial Media, dari situ kamu bisa kenalan dengan banyak orang dan diskusi banyak hal. Bukalah koneksi seluas-luasnya dan jangan malu untuk cari temen baru, karena hal itu bisa
            jadi peluang karir kamu.
          </li>
          <li>
            <span class="title__detail"> Dapat Ilmu </span> <br />
            Boleh percaya atau enggak Sosial Media bisa kamu manfaatin untuk jadi sumber ilmu pengetahuan Sahabat TopKarir. Banyak ilmu yang bisa kamu dapatkan dari Sosial Media dengan mudah, nambah ilmu pengetahuan bisa jadi pengaruh
            positif untuk menunjang karir. Kamu bisa tukar pikiran dan berdiskusi tentang ilmu yang kamu butuhkan dengan orang-orang hebat yang memiliki pengalaman dan kemampuan diatas kamu. Tentu aja itu bisa menjadi pembelajaran dan
            motivasi untuk meng-upgrade diri kamu ke level yang lebih tinggi, terutama untuk performa karir.
          </li>
          <li>
            <span class="title__detail"> Dampak Buruk </span> <br />
            Ternyata Sosial Media bisa jadi boomerang untuk karir kamu, kok bisa? Buat kamu yang udah kecanduan Sosial Media harus perhatikan dengan cermat cara penggunaanya jangan sampai merugikan. Lupa waktu karena terlalu fokus dengan
            Sosial Media bisa nurunin produktivitas dan buat kamu hilang konsentrasi loh. Melakukan hal negatif seperti provokatif, terlalu banyak mengeluh, dan berkata kasar juga bisa jadi boomerang untuk karir kamu, ingat ya banyak
            perusahaan yang melakukan background check lewat sosial media yang kamu punya.
          </li>
        </ol>
        <div class="link__detail">
          <i>Dikutip dari <a href="https://www.youngontop.com/5-pengaruh-sosial-media-untuk-karir-kamu/">5 Pengaruh Sosial Media untuk Karir Kamu</a></i>
        </div>
      </section>
    </main>

    <footer>
      <div class="footer__logo">
        <img src="../../assets/img/logo.svg" width="80" alt="Logo" />
      </div>
      <div class="footer__nav">
        <a href="../../index.html">Beranda</a>
        <a href="../bantuan/index.html">Bantuan</a>
        <a href="../artikel/index.html">Artikel</a>
        <a href="../quotes/index.html">Quotes</a>
      </div>
      <div class="footer__socmed">
        <a href="https://facebook.com">
          <img src="../../assets/img/icons/fb.svg" width="35" alt="Facebook" />
        </a>
        <a href="https://youtube.com">
          <img src="../../assets/img/icons/yt.svg" width="35" alt="Youtube" />
        </a>
        <a href="https://twitter.com">
          <img src="../../assets/img/icons/twitter.svg" width="35" alt="Twitter" />
        </a>
        <a href="https://instagram.com">
          <img src="../../assets/img/icons/ig.svg" width="35" alt="Instagram" />
        </a>
        <a href="https://linkedin.com">
          <img src="../../assets/img/icons/linkedin.svg" width="35" alt="LinkedIn" />
        </a>
      </div>
      <hr />
      <div class="footer__copyright">
        <p>&copy; 2022 Digital CItizenship. All rights reserved.</p>
      </div>
    </footer>

    <!-- MAIN JS -->
    <script src="../../assets/js/main.js"></script>
  </body>
</html>
