/*========== Google Font ==========*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap");

:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  --black: #1e1b1c;
  --dark-gray: #3d3d3d;
  --gray1: #55565b;
  --gray2: #9fa0ab;
  --primary: #9255fa;
  --primary2: #702afc;
  --primary3: #301563;
  --primary4: #492b81;
  --primary5: #ff8652;
  --accent: #fec02d;
  --accent2: #ffd571;
  --accent3: #ffc73f;
  --second-color: #dac3f7;
  --third-color: #5f4d92;
  --title-color: #39177f;
  --text-color-light: rgba(0, 0, 0, 0.5);
  --body-color: #ffffff;

  /*========== Font and typhography ==========*/
  --body-font: "Poppins", sans-serif;
  --font-jakarta-plus: "Plus Jakarta Sans", sans-serif;
  --normal-font-size: 0.875rem;
  --big-font: 1.25rem;
  --biggest-font-size: 2.5rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-semi-bold: 600;
  --font-bold: 700;

  /*========== z index ==========*/
  --z-fixed: 100;

  /*========== Margenes ==========*/
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-3: 3rem;
  --mb-4: 4rem;
}

/* Responsive typography */
@media only screen and (min-width: 1024px) {
  :root {
    --biggest-font-size: 5rem;
    --big-font: 2.5rem;
    --normal-font-size: 1rem;
    --smaller-font-size: 0.813rem;
  }
}

/*========== BASE ==========*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  font-family: var(--body-font);
  color: var(--dark-gray);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  background: rgb(231, 231, 225);
}

/*=============== REUSABLE CSS CLASES ===============*/
.container {
  max-width: 1024px;
  margin-inline: var(--mb-1-5);
}

.main {
  overflow: hidden;
}

.text-color,
.value__title,
.content__title span {
  color: var(--title-color);
}
.text-title,
.faq__title,
.title__content,
.privacy3__title {
  color: var(--black);
}

/*=============== HEADER & NAV ===============*/
.header {
  width: 100%;
  background-color: var(--body-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  transition: background 0.5s;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.nav {
  position: relative;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.nav__link,
.nav__logo,
.nav__toggle {
  color: var(--text-color-light);
}

.nav__toggle {
  display: inline-flex;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    background-color: var(--body-color);
    width: 100%;
    left: 0;
    top: -100%;
    padding: 4rem 0 3.5rem;
    transition: top 0.5s;
    overflow: hidden;
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 1.5rem;
}

.nav__link {
  font-weigh: var(--font-semi-bold);
  transition: color 0.5s;
}

.nav__link:hover {
  color: var(--primary2);
}

.nav__close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  cursor: pointer;
}

/* Show menu */
.show-menu {
  top: 0;
}

/* Active Link*/
.active-link {
  color: var(--primary2);
  font-weight: var(--font-semi-bold);
  position: relative;
}

.button__header {
  background: linear-gradient(108deg, #dea720 4.09%, #ffcc50 4.1%, #ffb505 60.38%);
  box-shadow: 0px 4px 25px 5px rgba(146, 85, 250, 0.25);
  border-radius: 20px;
  color: white;
  padding: 0.5rem 2rem;
}

/*=============== HOME ===============*/
.home {
  /* position: relative; */
  background-image: url("/assets/img/background.png") !important;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.home__container {
  /* position: relative; */
  padding: 7rem 0;
}

.home__subtitle {
  color: white;
  background: var(--third-color);
  border-radius: 3px;
  width: max-content;
  font-size: var(--smaller-font-size);
  padding: var(--mb-0-5);
  z-index: -100;
  margin: var(--mb-1) auto;
  letter-spacing: 0.005em;
}

.home__title {
  font-size: var(--biggest-font-size);
  margin-bottom: var(--mb-0-75);
  color: var(--second-color);
  font-family: var(--font-jakarta-plus);
  font-weight: var(--font-bold);
}

.home__description {
  color: white;
  margin-bottom: var(--mb-1-5);
}

.button_home,
.button_article {
  background: linear-gradient(112deg, #dea720 4.09%, #ffcc50 4.1%, #ffb505 60.38%);
  box-shadow: 0px 4px 25px 5px rgba(146, 85, 250, 0.25);
  border-radius: 28.5px 8px;
  padding: 0.75rem 2rem;
  color: white;
  transition: box-shadow 0.4s;
}
.button_home:hover,
.button_article:hover {
  background: #ffd650;
  box-shadow: 0px 4px 25px 5px rgba(146, 85, 250, 0.25);
  color: #ff7002;
}

.home__images {
  display: grid;
  /* position: relative; */
}

.home__image {
  margin-top: var(--mb-1-5);
  justify-self: center;
  animation: float-img 3s ease-in-out infinite;
  width: 300px;
}

/* Animation image */
@keyframes float-img {
  0% {
    transform: translateY(0.25rem);
  }
  50% {
    transform: translateY(2rem);
  }
  100% {
    transform: translateY(0.25rem);
  }
}

/*=============== CONTENT ===============*/
.faq__container,
.content2__container,
.bullying__container,
.law__container {
  padding: 7rem 1rem;
}
.content__container {
  padding: 7rem 0 3rem 0;
}
.value__container {
  padding-top: 5rem;
}
.content2__container {
  padding: 0 0 7rem 0;
}
.content__info,
.faq__info,
.faq__image {
  text-align: center;
}

.content__title,
.faq__title,
.article__title,
.article__title2 {
  font-weight: var(--font-semi-bold);
  margin-bottom: var(--mb-3);
}

.content__subtitle,
.faq__subtitle {
  font-size: var(--smallest-font-size);
  letter-spacing: 0.005em;
  line-height: 170.3%;
}

/*=============== ACCORDION ===============*/
.accordion {
  display: grid;
}

.accordion__container {
  display: grid;
  margin-top: -3rem;
  padding: 0 0 7rem 0;
}

.accordion__title {
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  margin-top: 0.15rem;
  transition: 0.2s;
  font-weight: 500;
  letter-spacing: 0.05em;
}

.accordion__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem;
  cursor: pointer;
  border-radius: 0.25rem 0.25rem 0 0;
}

.accordion__description {
  padding: 1.25rem 3rem 1.25rem 1.25rem;
  letter-spacing: 0.05em;
}

.accordion__icon {
  width: 1rem;
  height: max-content;
  transition: 0.3s;
}

.accordion__item {
  background: #ffffff;
  position: relative;
  transition: all 0.25s ease;
}

.accordion__content {
  overflow: hidden;
  height: 0;
  transition: all 0.25s ease;
  border: 1px solid #efefef;
}

.accordion-open > .accordion__header {
  background: var(--primary);
  color: white;
}

.accordion-open > .accordion__header .accordion__icon {
  filter: brightness(0) invert(1) !important;
}

.accordion__item {
  font-size: var(--normal-font-size);
}

/*=============== BOX CONTENT ===============*/
.box__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  height: auto;
  margin-top: var(--mb-1-5);
}
.box__content {
  background: #9255fa;
  box-shadow: -2px 10px 30px rgba(99, 49, 186, 0.51);
  width: 80%;
  max-width: 300px;
  text-align: center;
  height: 270px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 400ms ease;
  overflow: hidden !important;
}
.box__content:first-child {
  border-radius: 20px 20px 0px 0px;
}
.box__content:last-child {
  border-radius: 0px 0px 20px 20px;
}
.box__content:hover {
  background: linear-gradient(96.13deg, #dea720 -0.26%, #ffcc50 -0.26%, #ffb505 56.56%);
  box-shadow: 0px 4px 25px 5px rgba(146, 85, 250, 0.25);
  height: 300px;
}

.box__content:hover > .box__icon {
  background: #dfa100;
  border: 3px solid #ffffff;
}
.box__content:hover > .box__icon img {
  filter: brightness(0) invert(1) !important;
}

.box__content:hover > .box__desc {
  display: block;
  transition-delay: 0.3s;
}

.box__icon {
  padding: var(--mb-0-75);
  height: 65px;
  background: #622cce;
  border: 2px solid #ffffff;
  box-shadow: 0px 4px 25px 5px rgba(146, 85, 250, 0.25);
  border-radius: 20px;
}
.box__title {
  color: white;
  margin-top: var(--mb-1);
  letter-spacing: 0.03em;
  font-weight: var(--font-semi-bold);
}

.box__desc {
  position: relative;
  color: white;
  font-size: var(--smaller-font-size);
  font-weight: 500;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 1rem;
  display: none;
  transition: 0.8s ease-in-out;
}

/*=============== INDEX ARTICLE ===============*/
.article__container,
.article__container2 {
  text-align: center;
}
.article__title,
.article__title2 {
  font-weight: var(--font-bold);
  margin-bottom: var(--mb-3);
}
.article__desc:last-child > p {
  margin-top: var(--mb-1);
}
.button_article {
  margin-top: var(--mb-2);
}
.article__image {
  margin-left: -2rem !important;
}
.article2__image {
  margin-right: -2rem !important;
  margin-top: 3rem;
}
.article__desc2 {
  margin: var(--mb-1) 0 3rem 0;
  text-align: start;
}
.article__desc1,
.article__desc2 {
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.05em;
}
.article__info p {
  text-align: start;
}

/*=============== VALUE ===============*/
.value__info {
  text-align: center;
}
.value__subtitle,
.value__content__subtitle {
  margin: var(--mb-3) 0;
  letter-spacing: 0.005em;
}
.value__content {
  background: #311665;
  border-radius: 10px 179px 10px 10px;
  color: white;
  padding: 2rem 2rem 0 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: var(--mb-1);
  flex-direction: column;
  align-items: center;
  height: auto;
}
.value__content__title {
  letter-spacing: 0.03em;
}
.value__content__subtitle {
  margin-top: var(--mb-1);
  font-weight: 400;
  line-height: 170.3%;
  letter-spacing: 0.005em;
}
.card__value {
  background: #492b81;
  border-radius: 7px 141.5px 7px 7px;
  padding: var(--mb-1);
  height: 19rem;
  transition: transform 400ms ease;
  overflow: hidden !important;
  position: relative;
}
.arrow__card {
  background: #d9d9d9;
  border-radius: 8px;
  width: max-content;
  padding: var(--mb-0-5);
  border: none;
  margin-top: var(--mb-1-5);
}
.arrow {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}
.button__card {
  background: #e1e1e1;
  border-radius: 8px;
  border: none;
  padding: var(--mb-1);
  width: 100%;
  font-size: 1rem;
  letter-spacing: 0.005em;
  color: #1e1b1c;
  display: none;
  cursor: pointer;
}
.button__card:hover {
  background: #fff8e1;
  color: #ff7002;
}
.card__value:hover {
  background: linear-gradient(95.25deg, #dea720 -5.14%, #ffcc50 -5.13%, #ffb505 55.03%);
  box-shadow: 0px 4px 10px 5px rgba(18, 18, 18, 0.2);
  border-radius: 7px 141.5px 7px 7px;
  height: 22rem;
}
.card__value:hover > .arrow .button__card {
  display: block;
}
.card__value:hover > .arrow .arrow__card {
  display: none;
}
.card__value:hover > .arrow {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  left: 1rem;
}

/*=============== CONTENT2 ===============*/
.card__container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  margin-top: var(--mb-3);
}
.card__content {
  position: relative;
  background: linear-gradient(144.27deg, rgba(112, 42, 252, 0.6) -1.28%, rgba(146, 92, 250, 0.37) 49.69%, rgba(94, 0, 255, 0.94) 103.95%);
  border-radius: 10px;
  width: 100%;
  text-align: center;
  max-width: 220px;
  padding: var(--mb-1-5);
  overflow: hidden;
}
.card__content:before {
  content: "";
  position: absolute;
  inset: 0;
  border: 5px solid;
  border-image-source: linear-gradient(143.83deg, #5500ff -4.41%, rgba(46, 69, 190, 0.13) 53.17%, #0b1625 106.88%);
  border-image-slice: 1;
  border-radius: 10px;
  padding: var(--mb-1-5);
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.card__title {
  color: white;
  font-weight: var(--font-semi-bold);
  line-height: 138.4%;
  letter-spacing: 0.005em;
}

/* banner */
.banner__container {
  background-image: url("/assets/img/bg-slogan.svg") !important;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  border-radius: 30px;
  padding: 4rem 0;
}
#banner {
  margin-bottom: 7rem;
}
.banner__info {
  color: white;
}
.banner__subtitle {
  margin-bottom: var(--mb-1-5);
}

/* footer */
footer {
  text-align: center;
  background: #efe6ff;
  padding: 3rem;
}
.footer__nav,
.footer__socmed {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__nav {
  gap: 2rem;
  margin-top: var(--mb-1);
  letter-spacing: 0.03em;
}
.footer__socmed {
  margin: var(--mb-1) 0;
  gap: var(--mb-2);
}
.footer__nav a {
  color: var(--dark-gray);
}
.footer__copyright {
  margin-top: var(--mb-0-75);
  font-weight: 300;
  letter-spacing: 0.05em;
}

/*=============== ARTICLE PAGE ===============*/

.main__desc,
.second__desc {
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.03em;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: var(--mb-1);
  font-size: 0.875rem;
}
.main__title {
  margin: 0.5rem 0;
}
.main__image img {
  height: 100%;
  object-fit: cover;
  border-radius: 3px;
}
.second__date,
.main__date,
.detail__date {
  font-weight: var(--font-semi-bold);
  letter-spacing: 0.02em;
  color: rgba(0, 0, 0, 0.5);
  font-size: 1rem;
}
.second__more,
.main__more {
  letter-spacing: 0.03em;
  color: #6c8cfe;
}
.second__more {
  font-size: 0.875rem;
}
.second__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--mb-2);
}
#article {
  margin-bottom: 7rem;
}
.second__title {
  color: #36276a;
  margin: var(--mb-0-5) 0;
}
.second__more {
  font-size: var(--normal-font-size);
}
.contents {
  margin-bottom: var(--mb-2);
}

.detail__article,
.main__container {
  padding: 8rem 0 7rem 0;
}
.detail__image img {
  border-radius: 10px;
}
.main__title,
.second__title,
.detail__title {
  font-weight: var(--font-semi-bold) !important;
}

/*=============== DETAIL ARTICLE ===============*/
.detail__desc {
  font-weight: 400;
  line-height: 150%;
  text-align: justify;
  letter-spacing: 0.02em;
}
.detail__title {
  text-align: center;
  margin: var(--mb-3);
}
.detail__image {
  margin-bottom: var(--mb-1);
}

.home__subtitle,
.home__description,
.button_home,
.button_article,
.article__desc,
.banner__subtitle,
.value__subtitle,
.main__more {
  letter-spacing: 0.005em;
}

/* quote */
.quote__container {
  padding: 8rem 1rem;
}
.quote__box {
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: grid;
  grid-template-columns: 60% 40%;
  overflow: hidden;
  align-items: center;
}
.quote {
  background-image: url("/assets/img/bg-quote.png") !important;
  background-size: cover;
  display: flex;
  align-items: center;
  text-align: start;
}
.quote__image img {
  height: 100%;
}
.quote__image {
  height: 100%;
}
.quote__title {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 153%;
  letter-spacing: 0.03em;
  margin: var(--mb-1) 0 var(--mb-2) 0;
}
.quote__author {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 153%;
  letter-spacing: 0.03em;
}
.quote__text {
  padding: var(--mb-2);
}

/* lesson */
.privacy__info,
.bullying__info,
.law__info {
  text-align: center;
}
.privacy__subtitle,
.bullying__subtitle,
.law__subtitle {
  margin: var(--mb-1-5) 0 var(--mb-4) 0;
}
.privacy__title span,
.bullying__title span,
.law__title span {
  color: var(--primary);
}
.privacy__title,
.bullying__title,
.bullying3__title,
.law__title,
.law2__title {
  color: var(--black);
}
.title__content {
  margin: var(--mb-4) 0 var(--mb-2) 0;
}
.privacy__container {
  padding-top: 7rem;
}
.privace__content,
.privacy__content2,
.privacy__content3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--mb-3);
  margin-bottom: var(--mb-3);
}
.privacy__content2 {
  align-items: center;
}

.privacy__box {
  position: relative;
  width: 280px;
  height: 365px;
  justify-self: end;
  overflow: hidden;
  padding: var(--mb-1-5);
}
.privacy__box:before {
  content: "";
  position: absolute;
  inset: 0;
  border: 5px solid;
  border-image-source: linear-gradient(143.83deg, #5500ff -4.41%, #2e45be 53.17%, #0b1625 106.88%);
  border-image-slice: 1;
  border-radius: 10px;
  padding: var(--mb-1-5);
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
.privacy__box:hover:before {
  border: none;
}
.privacy__text {
  font-weight: 500;
  line-height: 173.9%;
  letter-spacing: 0.03em;
}
.bullying__box {
  position: relative;
  width: 325px;
  height: 365px;
  justify-self: center;
  align-self: center;
  padding: 25px;
  overflow: hidden;
  margin-bottom: var(--mb-4);
}
.bullying__box:before {
  content: "";
  position: absolute;
  inset: 0;
  border: 5px solid;
  border-image-source: linear-gradient(143.83deg, #5500ff -4.41%, #2e45be 53.17%, #0b1625 106.88%);
  border-image-slice: 1;
  border-radius: 10px;
  padding: var(--mb-1-5);
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
.bullying__box:hover:before {
  border: none;
}
.privacy__box:hover,
.bullying__box:hover {
  background: linear-gradient(180deg, #3b1684 -11.18%, #0a1524 41.92%);
  border-radius: 10px;
  color: white;
}
.privacy__box:hover > .privacy__number,
.privacy__box:hover > .privacy__desc,
.bullying__box:hover > .bullying__number,
.bullying__box:hover > .bullying__desc {
  color: white;
}
.privacy__number,
.bullying__number {
  font-weight: 600;
  font-size: 64px;
  line-height: 78.4%;
  letter-spacing: 0.005em;
  color: var(--primary2);
}
.privacy__photo,
.bullying__photo {
  text-align: center;
}
.privacy__photo img {
  height: 120px;
}
.bullying__photo img {
  height: 182px;
}
.privacy3__img img {
  height: 75px;
  text-align: center;
}
.privacy__desc,
.bullying__desc {
  color: var(--primary2);
  text-align: center;
  font-weight: 500;
  margin-top: var(--mb-1);
}
.privacy2,
.bullying2 {
  /* position: relative; */
  background-image: url("/assets/img/bg-lesson.svg") !important;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 55rem;
}
.privacy2__container,
.bullying2__container {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--mb-4);
  color: white;
}
.privacy2__title,
.bullying2__title,
.law3__title {
  margin-bottom: var(--mb-1-5);
  line-height: 138.4%;
  letter-spacing: 0.005em;
}
.privacy2__desc,
.bullying4__subs,
.bullying2__desc,
.law2__subs,
.law2__desc {
  font-weight: 500;
  line-height: 173.9%;
  letter-spacing: 0.03em;
}
.privacy3__container {
  padding: 3rem 0 7rem 0;
}
.privacy3__title {
  text-align: center;
  margin-bottom: var(--mb-4);
}
.privacy3__content {
  display: flex;
  gap: var(--mb-2);
  justify-content: center;
}
.bullying3__content {
  display: flex;
  gap: var(--mb-4);
  justify-content: center;
}
.bullying3__img {
  height: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.privacy3__img {
  padding: var(--mb-0-75);
  background: linear-gradient(133.3deg, rgba(109, 132, 255, 0.63) 0%, rgba(229, 237, 240, 0.63) 56.71%, rgba(76, 66, 217, 0.63) 114.61%);
  box-shadow: -3px 4px 4px rgba(98, 123, 255, 0.25);
  border-radius: 20px;
  width: 90px;
  height: 92px;
}
.privacy3__box:hover > .center .privacy3__img {
  background: linear-gradient(133.3deg, rgba(254, 192, 45, 0.63) 0%, rgba(229, 237, 240, 0.63) 56.71%, rgba(254, 192, 45, 0.63) 114.61%);
  box-shadow: -3px 4px 4px rgba(98, 123, 255, 0.25);
}
.privacy3__box:hover > .center .privacy3__img img {
  filter: brightness(0) invert(1) !important;
}
.bullying3__box {
  background: linear-gradient(95.25deg, #dea720 -5.14%, #ffcc50 -5.13%, #ffb505 55.03%);
  box-shadow: 0px 4px 10px 5px rgba(18, 18, 18, 0.2);
  border-radius: 10px;
  text-align: center;
  padding: var(--mb-1-5);
  width: 273px;
  height: 340px;
}
.bullying3__box {
  position: relative;
  background: linear-gradient(95.25deg, #dea720 -5.14%, #ffcc50 -5.13%, #ffb505 55.03%);
  box-shadow: 0px 4px 10px 5px rgba(18, 18, 18, 0.2);
  border-radius: 10px;
  text-align: center;
  padding: var(--mb-1-5);
  width: 273px;
  height: 340px;
  overflow: hidden;
}
.bullying3__box:hover:before {
  content: "";
  position: absolute;
  inset: 0;
  border: 5px solid;
  border-image-source: linear-gradient(143.83deg, #5500ff -4.41%, rgba(46, 69, 190, 0.13) 53.17%, #0b1625 106.88%);
  border-image-slice: 1;
  border-radius: 10px;
  padding: var(--mb-1-5);
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
.privacy3__box {
  position: relative;
  background: linear-gradient(144.27deg, rgba(112, 42, 252, 0.6) -1.28%, rgba(146, 92, 250, 0.37) 49.69%, rgba(94, 0, 255, 0.94) 103.95%);
  border-radius: 10px;
  background: linear-gradient(144.27deg, rgba(112, 42, 252, 0.6) -1.28%, rgba(146, 92, 250, 0.37) 49.69%, rgba(181, 138, 255, 0.94) 103.95%);
  border-radius: 10px;
  width: 273px;
  height: 334px;
  padding: var(--mb-1-5);
  text-align: center;
  overflow: hidden;
}
.privacy3__box:before {
  content: "";
  position: absolute;
  inset: 0;
  border: 5px solid;
  border-image-source: linear-gradient(143.83deg, #5500ff -4.41%, rgba(46, 69, 190, 0.13) 53.17%, #0b1625 106.88%);
  border-image-slice: 1;
  border-radius: 10px;
  padding: var(--mb-1-5);
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
.privacy3__box:hover:before {
  border: none;
}
.privacy3__box:hover {
  background: linear-gradient(95.25deg, #dea720 -5.14%, #ffcc50 -5.13%, #ffb505 55.03%);
  box-shadow: 0px 4px 10px 5px rgba(18, 18, 18, 0.2);
  color: white;
}
.bullying3__box:hover {
  background: linear-gradient(144.27deg, rgba(112, 42, 252, 0.6) -1.28%, rgba(146, 92, 250, 0.37) 49.69%, rgba(181, 138, 255, 0.94) 103.95%);
  border-radius: 10px;
}
.box3__title {
  margin: var(--mb-1) 0;
  font-weight: 600;
  font-size: 1rem;
  line-height: 24px;
}
.box3__desc {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 21px;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.bullying3__info,
.law2__info {
  text-align: center;
  margin: var(--mb-4) 0;
}
.bullying3__title,
.law2__title {
  margin-bottom: var(--mb-3);
  text-align: center;
}
.bullying3__img {
  margin-bottom: var(--mb-3);

  width: 170px;
}
.bullying3__img img {
  height: 180px;
}
.box4__desc {
  color: white;
  font-weight: 500;
  font-size: 1rem;
  line-height: 138.4%;
  text-align: center;
  letter-spacing: 0.005em;
}
.bullying2__image img,
.privacy2__image img,
.law2__image img {
  height: 420px;
}
.bullying__content1 {
  display: grid;
  grid-template-columns: repeat(2, 40%);
  height: 80rem;
}
section.bullying3 {
  margin: var(--mb-4) 0 5rem 0;
  position: relative;
}
.bullying__content3 {
  align-self: center;
}
.image__bottom {
  position: absolute;
  right: 0;
  bottom: 0;
}

.law {
  background-image: url("/assets/img/bg-law.svg") !important;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 15rem 0;
}
.law2__container {
  display: grid;
  align-items: center;
  grid-template-columns: 50% 50%;
  gap: var(--mb-4);
  color: white;
}
.law3__container {
  display: grid;
  align-items: center;
  grid-template-columns: 50% 50%;
  gap: var(--mb-4);
  color: white;
  margin-top: 8rem;
  text-align: end;
}
.law2__image {
  justify-self: center;
}
.law3__title {
  font-size: 1.5rem;
}
/*=============== BREAKPOINTS ===============*/
/* Small devices */
@media screen and (max-width: 340px) {
  .container {
    margin-inline: var(--mb-1);
  }
}

/* Medium devices */
@media screen and (min-width: 767px) {
  .nav {
    height: calc(var(--header-height) + 1rem);
  }
  .nav__close,
  .nav__toggle {
    display: none;
  }
  .nav__list {
    flex-direction: row;
    column-gap: 2rem;
  }
  .home__container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    gap: 2rem 4rem;
  }
  .home__image {
    width: 100%;
  }
  .home {
    text-align: start;
  }
  .home__subtitle {
    margin: var(--mb-1) 0;
  }

  .active-link::before {
    content: "";
    position: absolute;
    bottom: -0.75rem;
    left: 25%;
    width: 35px;
    height: 5px;
    background-color: var(--primary2);
    border-radius: 12px;
  }

  /* box content */
  .box__container {
    flex-direction: row;
    align-items: end;
    height: 19rem;
  }
  .box__content {
    width: 25%;
  }
  .box__content:first-child {
    border-radius: 35px 0px 0px 35px;
  }
  .box__content:last-child {
    border-radius: 0px 35px 35px 0px;
  }

  .box__content:nth-child(2):hover,
  .box__content:nth-child(3):hover {
    border-radius: 35px 35px 0px 0px !important;
  }

  .box__content:hover > .box__content:first-child {
    border-radius: 20px 20px 0px 20px !important;
  }
  .box__content:first-child:hover {
    border-radius: 35px 35px 0px 35px;
  }
  .box__content:last-child:hover {
    border-radius: 35px 35px 35px 0px !important;
  }
  .box__icon {
    height: 70px;
    display: flex;
  }
  .box__icon img {
    width: 40px;
  }

  .article__container {
    background-image: url("/assets/img/index-article.png") !important;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50rem;
    display: flex;
    align-items: center;
    text-align: start;
  }
  .article__info {
    margin-left: auto !important;
    width: 48%;
  }
  .article__container2 {
    background-image: url("/assets/img/index-article2.png") !important;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50rem;
    display: flex;
    align-items: center;
    text-align: start;
  }
  .article__info2 {
    width: 47%;
  }
  .article__title2 {
    text-align: end;
  }

  /* content2 index */
  .card__value,
  .card__info {
    width: 23%;
  }
  .value__content {
    flex-direction: row;
    align-items: end;
    height: 24rem;
    gap: var(--mb-1);
  }
  .card__info {
    align-self: center;
    justify-self: center;
  }
  .icon__up {
    margin-bottom: var(--mb-2);
  }
  .main__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--mb-1-5);
  }
  .second__container {
    grid-template-columns: repeat(3, 1fr);
    gap: var(--mb-4);
  }
}
/* Large devices */
@media screen and (min-width: 1024px) {
  /* home */
  .home__title {
    margin-bottom: 1rem;
  }
  .home__description {
    margin-bottom: 3rem;
  }
  .home__subtitle,
  .button_home,
  .button_article,
  .article__desc,
  .banner__subtitle,
  .value__subtitle,
  .main__more,
  .content__subtitle,
  .faq__subtitle,
  .article__desc2 p,
  .article__desc1,
  .nav__link,
  .button__header,
  .footer__nav,
  .main__desc,
  .privacy__text,
  .privacy__desc,
  .bullying__subtitle,
  .bullying4__subs,
  .bullying2__desc,
  .bullying__desc,
  .law__subtitle,
  .law2__subs,
  .law2__desc {
    font-size: 1.125rem;
    line-height: 170.3%;
  }
  .button_home,
  .button_article {
    padding: 1rem 2.5rem;
    font-weight: 500;
  }
  .home__description,
  .button_home,
  .button_article,
  .box__title,
  .value__content__title,
  .privacy__subtitle,
  .privacy2__desc {
    font-size: 1.25rem;
  }

  /* content */
  .content__title,
  .faq__title,
  .article__title,
  .article__title2,
  .banner__title,
  .value__title,
  .main__title,
  .detail__title,
  .privacy__title,
  .title__content,
  .privacy2__title,
  .privacy3__title,
  .bullying__title,
  .bullying3__title,
  .law__title,
  .law2__title,
  .bullying2__title {
    font-size: 2.25rem;
    letter-spacing: 0.005em;
    font-weight: var(--font-bold);
  }
  .box__desc {
    font-size: 0.875rem !important;
  }
}

@media screen and (min-width: 1048px) {
  .container {
    margin-inline: auto;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
    margin-inline: auto;
  }
}
