/*========== Google Font ==========*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap");

:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  --main-color: #702afc;
  --second-color: #dac3f7;
  --third-color: #5f4d92;
  --text-color: #3d3d3d;
  --title-color: #39177f;
  --text-color-light: rgba(0, 0, 0, 0.5);
  --body-color: #ffffff;

  /*========== Font and typhography ==========*/
  --body-font: "Poppins", sans-serif;
  --font-jakarta-plus: "Plus Jakarta Sans", sans-serif;
  --normal-font-size: 0.875rem;
  --big-font: 1.25rem;
  --biggest-font-size: 2.5rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-semi-bold: 600;
  --font-bold: 700;

  /*========== z index ==========*/
  --z-fixed: 100;

  /*========== Margenes ==========*/
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-3: 3rem;
  --mb-4: 4rem;
}

/* Responsive typography */
@media only screen and (min-width: 1024px) {
  :root {
    --biggest-font-size: 4.5rem;
    --big-font: 1.5rem;
    --normal-font-size: 1rem;
    --smaller-font-size: 0.813rem;
  }
}

/*========== BASE ==========*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  font-family: var(--body-font);
  color: var(--text-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  background: rgb(231, 231, 225);
}

/*=============== REUSABLE CSS CLASES ===============*/
.container {
  max-width: 1024px;
  margin-inline: var(--mb-1-5);
}

.main {
  overflow: hidden;
}

.text-color,
.value__title span,
.content__title span {
  color: var(--title-color);
}

/*=============== HEADER & NAV ===============*/
.header {
  width: 100%;
  background-color: var(--body-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-index);
  transition: background 0.5s;
}

.nav {
  position: relative;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.nav__link,
.nav__logo,
.nav__toggle {
  color: var(--text-color-light);
}

.nav__toggle {
  display: inline-flex;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    background-color: var(--body-color);
    width: 100%;
    left: 0;
    top: -100%;
    padding: 4rem 0 3.5rem;
    transition: top 0.5s;
    overflow: hidden;
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 1.5rem;
}

.nav__link {
  font-weigh: var(--font-semi-bold);
  transition: color 0.5s;
}

.nav__link:hover {
  color: var(--first-color);
}

.nav__close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  cursor: pointer;
}

/* Show menu */
.show-menu {
  top: 0;
}

/* Active Link*/
.active-link {
  color: var(--main-color);
  font-weight: var(--font-semi-bold);
  position: relative;
}

.button__header {
  background: linear-gradient(99.47deg, #dea720 4.09%, #ffcc50 4.1%, #ffb505 60.38%);
  box-shadow: 0px 4px 25px 5px rgba(146, 85, 250, 0.25);
  border-radius: 20px;
  color: white;
  padding: 0.5rem 2rem;
}

/*=============== HOME ===============*/
.home {
  /* position: relative; */
  background-image: url("/assets/img/background.png") !important;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.home__container {
  /* position: relative; */
  padding: 7rem 0;
}

.home__subtitle {
  color: white;
  background: var(--third-color);
  border-radius: 3px;
  width: max-content;
  font-size: var(--smaller-font-size);
  padding: var(--mb-0-5);
  z-index: -100;
  margin: var(--mb-1) auto;
}

.home__title {
  font-size: var(--biggest-font-size);
  margin-bottom: var(--mb-0-75);
  color: var(--second-color);
  font-family: var(--font-jakarta-plus);
}

.home__description {
  color: white;
  margin-bottom: var(--mb-1-5);
}

.button_home,
.button_article {
  background: linear-gradient(99.47deg, #dea720 4.09%, #ffcc50 4.1%, #ffb505 60.38%);
  box-shadow: 0px 4px 25px 5px rgba(146, 85, 250, 0.25);
  border-radius: 28.5px 8px;
  padding: 0.75rem 2rem;
  color: white;
  transition: box-shadow 0.4s;
}

.home__images {
  display: grid;
  /* position: relative; */
}

.home__image {
  margin-top: var(--mb-1-5);
  justify-self: center;
  animation: float-img 3s ease-in-out infinite;
  width: 300px;
}

/* Animation image */
@keyframes float-img {
  0% {
    transform: translateY(0.25rem);
  }
  50% {
    transform: translateY(2rem);
  }
  100% {
    transform: translateY(0.25rem);
  }
}

/*=============== CONTENT ===============*/
.content__container,
.faq__container,
.content2__container,
.value__container {
  padding: 7rem 1rem;
}

.content__info,
.faq__info,
.faq__image {
  text-align: center;
}

.content__title,
.faq__title,
.article__title,
.article__title2 {
  font-weight: var(--font-semi-bold);
  margin-bottom: var(--mb-1-5);
}

.content__subtitle,
.faq__subtitle {
  font-size: var(--smallest-font-size);
  letter-spacing: 0.005em;
  line-height: 170.3%;
}

/*=============== ACCORDION ===============*/
.accordion {
  display: grid;
}

.accordion__container {
  display: grid;
  margin-top: -3rem;
  padding: 0 0 7rem 0;
}

.accordion__title {
  font-size: var(--small-font-size);
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  margin-top: 0.15rem;
  transition: 0.2s;
}

.accordion__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem;
  cursor: pointer;
  border-radius: 0.25rem 0.25rem 0 0;
}

.accordion__description {
  padding: 1.25rem 3rem 1.25rem 1.25rem;
}

.accordion__icon {
  width: 1rem;
  height: max-content;
  transition: 0.3s;
}

.accordion__item {
  background: #ffffff;
  position: relative;
  transition: all 0.25s ease;
}

.accordion__content {
  overflow: hidden;
  height: 0;
  transition: all 0.25s ease;
  border: 1px solid #efefef;
}

.accordion-open > .accordion__header {
  background: var(--main-color);
  color: white;
}

.accordion-open > .accordion__header .accordion__icon {
  filter: brightness(0) invert(1) !important;
}

.accordion__item {
  font-size: var(--normal-font-size);
}

/*=============== BOX CONTENT ===============*/
.box__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  height: auto;
  margin-top: var(--mb-1-5);
}
.box__content {
  background: #9255fa;
  box-shadow: -2px 10px 30px rgba(99, 49, 186, 0.51);
  width: 80%;
  max-width: 300px;
  text-align: center;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 400ms ease;
  overflow: hidden !important;
}
.box__content:first-child {
  border-radius: 20px 20px 0px 0px;
}
.box__content:last-child {
  border-radius: 0px 0px 20px 20px;
}
.box__content:hover {
  background: linear-gradient(96.13deg, #dea720 -0.26%, #ffcc50 -0.26%, #ffb505 56.56%);
  box-shadow: 0px 4px 25px 5px rgba(146, 85, 250, 0.25);
  height: 300px;
}

.box__content:hover > .box__icon {
  background: #dfa100;
  border: 3px solid #ffffff;
}
.box__content:hover > .box__icon img {
  filter: brightness(0) invert(1) !important;
}

.box__content:hover > .box__desc {
  display: block;
  transition-delay: 0.1s;
}

.box__icon {
  padding: var(--mb-0-75);
  height: 65px;
  background: #622cce;
  border: 2px solid #ffffff;
  box-shadow: 0px 4px 25px 5px rgba(146, 85, 250, 0.25);
  border-radius: 20px;
}
.box__title {
  color: white;
  margin-top: var(--mb-1);
  letter-spacing: 0.03em;
  font-weight: var(--font-semi-bold);
}

.box__desc {
  position: relative;
  color: white;
  font-size: var(--smaller-font-size);
  font-weight: 500;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 1rem;
  display: none;
  transition: 0.3s ease-in-out;
}

/*=============== INDEX ARTICLE ===============*/
.article__container,
.article__container2 {
  padding-bottom: 5rem;
  text-align: center;
}
.article__title,
.article__title2 {
  font-weight: var(--font-bold);
  margin-bottom: var(--mb-2);
}
.article__desc:last-child > p {
  margin-top: var(--mb-1);
}
.button_article {
  margin-top: var(--mb-2);
}
.article__image {
  margin-left: -2rem !important;
}
.article2__image {
  margin-right: -2rem !important;
  margin-top: 3rem;
}
.article__desc2 {
  margin: var(--mb-1) 0 3rem 0;
}
.article__desc1,
.article__desc2 {
  font-weight: 500;
}
.article__info p {
  text-align: start;
}

/*=============== VALUE ===============*/
.value__info {
  text-align: center;
}
.value__subtitle,
.value__content__subtitle {
  margin: 2rem 0;
}
.value__content {
  background: #311665;
  border-radius: 10px 179px 10px 10px;
  color: white;
  padding: 2rem 2rem 0 2rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  height: auto;
}
.value__content__title {
  letter-spacing: 0.03em;
}
.value__content__subtitle {
  margin-top: var(--mb-1);
}
.card__value {
  background: #492b81;
  border-radius: 7px 141.5px 7px 7px;
  padding: var(--mb-1);
  height: 18rem;
  transition: transform 400ms ease;
  overflow: hidden !important;
  position: relative;
}
.arrow__card {
  background: #d9d9d9;
  border-radius: 8px;
  width: max-content;
  padding: var(--mb-0-5);
  border: none;
  margin-top: var(--mb-1-5);
}
.arrow {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}
.button__card {
  background: #e1e1e1;
  border-radius: 8px;
  border: none;
  padding: var(--mb-1);
  width: 100%;
  font-size: 1rem;
  letter-spacing: 0.005em;
  color: #1e1b1c;
  display: none;
}
.card__value:hover {
  background: linear-gradient(95.25deg, #dea720 -5.14%, #ffcc50 -5.13%, #ffb505 55.03%);
  box-shadow: 0px 4px 10px 5px rgba(18, 18, 18, 0.2);
  border-radius: 7px 141.5px 7px 7px;
  height: 22rem;
}
.card__value:hover > .arrow .button__card {
  display: block;
}
.card__value:hover > .arrow .arrow__card {
  display: none;
}
.card__value:hover > .arrow {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  left: 1rem;
}

/*=============== CONTENT2 ===============*/
.card__container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  margin-top: var(--mb-3);
}
.card__content {
  background: linear-gradient(144.27deg, rgba(112, 42, 252, 0.6) -1.28%, rgba(146, 92, 250, 0.37) 49.69%, rgba(94, 0, 255, 0.94) 103.95%);
  border-radius: 10px;
  width: 100%;
  text-align: center;
  max-width: 200px;
  padding: var(--mb-1-5);
}
.card__title {
  color: white;
  font-weight: var(--font-semi-bold);
  letter-spacing: 0.03em;
}

/* banner */
.banner__container {
  background-image: url("/assets/img/bg-slogan.svg") !important;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  border-radius: 30px;
  padding: 4rem 0;
}
.banner__info {
  color: white;
}
.banner__subtitle {
  margin-bottom: var(--mb-1-5);
}

/* footer */
footer {
  margin-top: 7rem;
  text-align: center;
  background: #efe6ff;
  padding: 3rem;
}
.footer__nav,
.footer__socmed {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__nav {
  gap: 3rem;
  margin-top: var(--mb-1);
  letter-spacing: 0.03em;
}
.footer__socmed {
  margin: var(--mb-1) 0;
  gap: var(--mb-1);
}
.footer__nav a {
  color: var(--text-color);
}
.footer__copyright {
  margin-top: var(--mb-0-75);
  font-weight: 300;
  letter-spacing: 0.05em;
}

/*=============== BREAKPOINTS ===============*/
/* Small devices */
@media screen and (max-width: 340px) {
  .container {
    margin-inline: var(--mb-1);
  }
}

/* Medium devices */
@media screen and (min-width: 767px) {
  .nav {
    height: calc(var(--header-height) + 1rem);
    /* box-shadow: 0px 2px 10px rgba(191, 190, 188, 0.55); */
  }
  .nav__close,
  .nav__toggle {
    display: none;
  }
  .nav__list {
    flex-direction: row;
    column-gap: 2rem;
  }
  .home__container {
    height: 100vh;
    padding: 0 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    gap: 2rem 4rem;
  }
  .home__image {
    width: 100%;
  }
  .home {
    text-align: start;
  }
  .home__subtitle {
    margin: var(--mb-1) 0;
  }

  .active-link::before {
    content: "";
    position: absolute;
    bottom: -0.75rem;
    left: 25%;
    width: 35px;
    height: 5px;
    background-color: var(--main-color);
    border-radius: 12px;
  }

  /* box content */
  .box__container {
    flex-direction: row;
    align-items: end;
    height: 19rem;
  }
  .box__content {
    width: 25%;
  }
  .box__content:first-child {
    border-radius: 20px 0px 0px 20px;
  }
  .box__content:last-child {
    border-radius: 0px 20px 20px 0px;
  }

  .box__content:nth-child(2):hover {
    border-radius: 20px 20px 0px 0px !important;
  }
  .box__content:nth-child(3):hover {
    border-radius: 20px 20px 0px 0px !important;
  }
  .box__content:hover > .box__content:first-child {
    border-radius: 35px 35px 0px 35px !important;
  }
  .box__content:hover > .box__content:last-child {
    border-radius: 0px 20px 20px 0px !important;
  }
  .box__icon {
    height: 70px;
    display: flex;
  }
  .box__icon img {
    width: 40px;
  }

  .article__container {
    background-image: url("/assets/img/index-article.png") !important;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50rem;
    display: flex;
    align-items: center;
    text-align: start;
  }
  .article__info {
    margin-left: auto !important;
    width: 50%;
  }
  .article__container2 {
    background-image: url("/assets/img/index-article2.png") !important;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50rem;
    display: flex;
    align-items: center;
    text-align: start;
  }
  .article__info2 {
    width: 50%;
  }
  .article__title2 {
    text-align: end;
  }

  /* content2 index */
  .card__content {
    width: max-content;
  }

  .card__value,
  .card__info {
    width: 23%;
  }
  .value__content {
    flex-direction: row;
    align-items: end;
    height: 22rem;
    gap: var(--mb-1);
  }
}
/* Large devices */
@media screen and (min-width: 1024px) {
  /* home */
  .home__title {
    margin-bottom: 1rem;
  }
  .home__description {
    margin-bottom: 3rem;
  }
  .home__subtitle,
  .home__description,
  .button_home,
  .button_article,
  .article__desc,
  .banner__subtitle,
  .value__subtitle {
    font-size: 1.125rem;
  }
  .button_home,
  .button_article {
    padding: 1rem 2rem;
  }

  /* content */
  .content__title,
  .faq__title,
  .article__title,
  .article__title2,
  .banner__title,
  .value__title {
    font-size: 2rem;
  }

  .content__subtitle,
  .faq__subtitle {
    font-size: 1.125rem;
  }
  .value__content__title {
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 1048px) {
  .container {
    margin-inline: auto;
  }
}
