<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../assets/css/style.css" />
    <link rel="shortcut icon" type="image/jpg" href="../../assets/img/icon.svg" />
    <title>Digital Citizenship</title>
  </head>
  <body>
    <!--=============== HEADER ===============-->
    <header class="header" id="header">
      <nav class="nav container">
        <a href="../../index.html" class="nav__logo">
          <img src="../../assets/img/logo.svg" height="40" alt="Logo" />
        </a>

        <div class="nav__menu" id="nav-menu">
          <ul class="nav__list">
            <li class="nav__item">
              <a href="../../index.html" class="nav__link">Beranda</a>
            </li>
            <li class="nav__item">
              <a href="../bantuan/index.html" class="nav__link">Bantuan</a>
            </li>
            <li class="nav__item">
              <a href="../artikel/index.html" class="nav__link">Artikel</a>
            </li>
            <li class="nav__item">
              <a href="../quotes/index.html" class="button button__header">Quotes</a>
            </li>
          </ul>

          <!-- Close button -->
          <div class="nav__close" id="nav-close">
            <img src="../../assets/img/icons/close.svg" width="16" alt="Tutup" />
          </div>
        </div>
        <!-- Toggle button -->
        <div class="nav__toggle" id="nav-toggle">
          <img src="../../assets/img/icons/menu.svg" width="16" alt="Toggle" />
        </div>
      </nav>
    </header>

    <main class="cyber">
      <section class="bullying__container container">
        <div class="bullying__info">
          <h1 class="bullying__title">
            Digital Citizenship <br />
            <span>
              Perangi Cyberbullying dengan Bersama Cegah <br />
              Penyalahgunaan Media Sosial
            </span>
          </h1>
          <p class="bullying__subtitle">Mengidentifikasi bentuk-bentuk penindasan dan menanggapi dengan tegas di dunia maya.</p>
          <div class="bullying__image">
            <img src="../../assets/img/bullying.svg" alt="Ilustrasi Cyberbullying" />
          </div>
        </div>
        <div class="bullying3__container">
          <div class="bullying3__info">
            <h1 class="bullying3__title">Darurat Ancaman <i>Cyberbullying</i></h1>
            <p class="bullying4__subs">
              Cyberbullying merupakan aksi perundungan yang dilakukan individu maupun kelompok (mobbing) melalui teknologi digital, seperti media sosial, aplikasi pesan instan atau ruang obrolan, bahkan game online. Cyberbullying ini
              dilakukan secara sengaja dan berulang dengan maksud melukai orang lain. Beberapa bentuk cyberbullying di antaranya.
            </p>
          </div>
          <div class="bullying3__content">
            <div class="bullying3__box">
              <div class="center">
                <div class="bullying3__img">
                  <img src="../../assets/img/icons/cb1.svg" alt="Ilustrasi Bullying" />
                </div>
              </div>
              <p class="box4__desc">Mengirimkan pesan atau komentar berupa celaan</p>
            </div>
            <div class="bullying3__box">
              <div class="center">
                <div class="bullying3__img">
                  <img src="../../assets/img/icons/cb2.svg" alt="Ilustrasi Berita Hoax" />
                </div>
              </div>
              <p class="box4__desc">Menyebarkan berita bohong atau teror.</p>
            </div>
            <div class="bullying3__box">
              <div class="center">
                <div class="bullying3__img">
                  <img src="../../assets/img/icons/cb3.svg" alt="Ilustrasi Medsos" />
                </div>
              </div>
              <p class="box4__desc">Mengunggah foto yang bersifat mengganggu pihak lain</p>
            </div>
          </div>
        </div>
      </section>

      <section class="bullying2">
        <div class="bullying2__container container">
          <div class="bullying2__image center">
            <img src="../../assets/img/icons/bullying.svg" alt="Ilustrasi Sosial Media" />
          </div>
          <div class="bullying2__info">
            <h1 class="bullying2__title">
              Bijak Menggunakan <br />
              Media Sosial
            </h1>
            <p class="bullying2__desc">
              Kita tetap dapat ambil peran dalam memerangi aksi merugikan tersebut. harapannya kita memiliki kesadaran terhadap urgensi aksi cyberbullying di sekitar kita. Sehingga kita dapat mencegah tindak perundungan yang bisa kita temui
              saat berselancar di media sosial. Juga dapat bersikap bijak untuk membantu mereka yang membutuhkan.
            </p>
          </div>
        </div>
      </section>

      <section class="bullying3">
        <div class="bullying3__container container">
          <h1 class="bullying3__title">
            Bersama Perangi <i>Cyberbullying</i> <br />
            Wujudkan Sosial Media yang Aman, Nyaman, dan Positif
          </h1>
          <div class="bullying__content1">
            <div class="bullying__content2">
              <div class="bullying__box">
                <h1 class="bullying__number">1</h1>
                <div class="bullying__photo">
                  <img src="../../assets/img/icons/cyber1.svg" alt="Ilustrasi" />
                </div>
                <p class="bullying__desc">
                  Abaikan <br />
                  Pelaku bullying
                </p>
              </div>
              <div class="bullying__box">
                <h1 class="bullying__number">2</h1>
                <div class="bullying__photo">
                  <img src="../../assets/img/icons/cyber2.svg" alt="Ilustrasi" />
                </div>
                <p class="bullying__desc">Kumpulkan bukti</p>
              </div>
            </div>
            <div class="bullying__content3">
              <div class="bullying__box">
                <h1 class="bullying__number">3</h1>
                <div class="bullying__photo">
                  <img src="../../assets/img/icons/cyber3.svg" alt="Ilustrasi" />
                </div>
                <p class="bullying__desc">
                  Ceritakanlah kepada <br />
                  orang tepercaya
                </p>
              </div>
              <div class="bullying__box">
                <h1 class="bullying__number">4</h1>
                <div class="bullying__photo">
                  <img src="../../assets/img/icons/cyber4.svg" alt="Ilustrasi" />
                </div>
                <p class="bullying__desc">Laporkan pelaku perundungan</p>
              </div>
            </div>
          </div>
        </div>
        <div class="image__bottom">
          <img src="../../assets/img/police.svg" alt="Gambar Polisi" />
        </div>
      </section>
    </main>

    <footer>
      <div class="footer__logo">
        <img src="../../assets/img/logo.svg" width="80" alt="Logo" />
      </div>
      <div class="footer__nav">
        <a href="../../index.html">Beranda</a>
        <a href="../bantuan/index.html">Bantuan</a>
        <a href="../artikel/index.html">Artikel</a>
        <a href="../quotes/index.html">Quotes</a>
      </div>
      <div class="footer__socmed">
        <a href="https://facebook.com">
          <img src="../../assets/img/icons/fb.svg" width="35" alt="Facebook" />
        </a>
        <a href="https://youtube.com">
          <img src="../../assets/img/icons/yt.svg" width="35" alt="Youtube" />
        </a>
        <a href="https://twitter.com">
          <img src="../../assets/img/icons/twitter.svg" width="35" alt="Twitter" />
        </a>
        <a href="https://instagram.com">
          <img src="../../assets/img/icons/ig.svg" width="35" alt="Instagram" />
        </a>
        <a href="https://linkedin.com">
          <img src="../../assets/img/icons/linkedin.svg" width="35" alt="LinkedIn" />
        </a>
      </div>
      <hr />
      <div class="footer__copyright">
        <p>&copy; 2022 Digital CItizenship. All rights reserved.</p>
      </div>
    </footer>
    <!-- MAIN JS -->
    <script src="../../assets/js/main.js"></script>
  </body>
</html>
