<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/style.css" />
    <title>Digital Citizenship</title>
  </head>
  <body>
    <!--=============== HEADER ===============-->
    <header class="header" id="header">
      <nav class="nav container">
        <a href="../../index.html" class="nav__logo">
          <img src="/assets/img/logo.svg" height="40" alt="" />
        </a>

        <div class="nav__menu" id="nav-menu">
          <ul class="nav__list">
            <li class="nav__item">
              <a href="../../index.html" class="nav__link">Beranda</a>
            </li>
            <li class="nav__item">
              <a href="../bantuan/index.html" class="nav__link">Bantuan</a>
            </li>
            <li class="nav__item">
              <a href="../artikel/index.html" class="nav__link">Artikel</a>
            </li>
            <li class="nav__item">
              <a href="../quotes/index.html" class="button button__header">Quotes</a>
            </li>
          </ul>

          <!-- Close button -->
          <div class="nav__close" id="nav-close">
            <img src="/assets/img/icons/close.svg" width="16" alt="" />
          </div>
        </div>
        <!-- Toggle button -->
        <div class="nav__toggle" id="nav-toggle">
          <img src="/assets/img/icons/menu.svg" width="16" alt="" />
        </div>
      </nav>
    </header>

    <main class="main">
      <section class="privacy__container container">
        <div class="privacy__info">
          <h1 class="privacy__title">
            Digital Citizenship <br />
            <span>
              Bijak Menggunakan dan Menjaga <br />
              Keamanan Privasi Sosial Media
            </span>
          </h1>
          <p class="privacy__subtitle">Menjaga privasi sosial media Anda adalah salah satu cara agar akun atau data kita terjaga di era digital saat ini.</p>
          <div class="privacy__image">
            <img src="/assets/img/privacy.svg" width="600" alt="" />
          </div>
        </div>
        <h3 class="title__content">
          Pentingnya Menjaga <br />
          Keamanan
        </h3>
        <div class="privace__content">
          <p class="privacy__text">
            Di zaman sekarang, tidak dapat ditampik lagi bahwa kehidupan manusia saat ini sangat berhubungan dengan media sosial. Media sosial memegang peranan penting di hampir segala lini masyarakat. Maka dari itu pentingnya masyarakat
            menjaga keamanan dan privasi data diri sosial media karena maraknya kejahatan digital seperti hacker, cyber bullying.
          </p>
          <div class="privacy__box">
            <h1 class="privacy__number">1</h1>
            <div class="privacy__photo">
              <img src="/assets/img/icons/privacy1.svg" alt="" />
            </div>
            <p class="privacy__desc">Atur privasi di setiap akun sosial media Anda</p>
          </div>
        </div>
        <div class="privacy__content2">
          <div class="privacy__box">
            <h1 class="privacy__number">4</h1>
            <div class="privacy__photo">
              <img src="/assets/img/icons/privacy4.svg" alt="" />
            </div>
            <p class="privacy__desc">Gunakan verifikasi 2 langkah</p>
          </div>
          <div class="privacy__content3">
            <div class="privacy__box">
              <h1 class="privacy__number">2</h1>
              <div class="privacy__photo">
                <img src="/assets/img/icons/privacy2.svg" alt="" />
              </div>
              <p class="privacy__desc">Gunakan kata sandi yang kuat</p>
            </div>
            <div class="privacy__box">
              <h1 class="privacy__number">3</h1>
              <div class="privacy__photo">
                <img src="/assets/img/icons/privacy3.svg" alt="" />
              </div>
              <p class="privacy__desc">Tidak membagikannya kepada pihak yang diragukan kredibilitasnya</p>
            </div>
            <div class="privacy__box">
              <h1 class="privacy__number">5</h1>
              <div class="privacy__photo">
                <img src="/assets/img/icons/privacy5.svg" alt="" />
              </div>
              <p class="privacy__desc">Pikirkan ulang tentang pesan yang ingin kita sampaikan</p>
            </div>
            <div class="privacy__box">
              <h1 class="privacy__number">6</h1>
              <div class="privacy__photo">
                <img src="/assets/img/icons/privacy6.svg" alt="" />
              </div>
              <p class="privacy__desc">Menggunakan piranti lunak anti-virus dan selalu memperbaruinya</p>
            </div>
          </div>
        </div>
      </section>

      <section class="privacy2">
        <div class="privacy2__container container">
          <div class="privacy2__image">
            <img src="/assets/img/icons/privacy.svg" alt="" />
          </div>
          <div class="privacy2__info">
            <h1 class="privacy2__title">
              Bijak Menggunakan <br />
              Media Sosial
            </h1>
            <p class="privacy2__desc">
              Tidak selamanya media sosial bersifat negatif. Semua itu tergantung bagaimana Anda bisa memanfaatkan dan mengelolanya. Bila Anda ingin merasakan dampak positif dari penggunaan media sosial, tentunya Anda juga harus
              menggunakannya dengan penuh bertanggung jawab.
            </p>
          </div>
        </div>
      </section>

      <section class="privacy3 container">
        <div class="privacy3__container">
          <h1 class="privacy3__title">Lantas, bagaimana caranya?</h1>
          <div class="privacy3__content">
            <div class="privacy3__box">
              <div class="center">
                <div class="privacy3__img">
                  <img src="/assets/img/icons/p1.svg" alt="" />
                </div>
              </div>
              <h3 class="box3__title">
                Batasi Jumlah <br />
                Media Sosial
              </h3>
              <p class="box3__desc">Semakin banyak media sosial yang Anda gunakan, semakin banyak pula waktu yang akan Anda habiskan di dalamnya</p>
            </div>
            <div class="privacy3__box">
              <div class="center">
                <div class="privacy3__img">
                  <img src="/assets/img/icons/p2.svg" alt="" />
                </div>
              </div>
              <h3 class="box3__title">
                Lihat dan Batasi <br />
                Waktu
              </h3>
              <p class="box3__desc">Anda bisa menyesuaikan banyak waktu yang Anda habiskan dengan seberapa penting urusan Anda</p>
            </div>
            <div class="privacy3__box">
              <div class="center">
                <div class="privacy3__img">
                  <img src="/assets/img/icons/p3.svg" alt="" />
                </div>
              </div>
              <h3 class="box3__title">Perhatikan Apa yang Di-posting</h3>
              <p class="box3__desc">Lebih baik dan bijaksana agar bisa bermanfaat bagi diri sendiri dan orang lain</p>
            </div>
            <div class="privacy3__box">
              <div class="center">
                <div class="privacy3__img">
                  <img src="/assets/img/icons/p4.svg" alt="" />
                </div>
              </div>
              <h3 class="box3__title">
                Tetap Jaga <br />
                Etika
              </h3>
              <p class="box3__desc">Meskipun hanya melalui media sosial Anda harus tetap bersikap sesuai etika dan norma yang ada</p>
            </div>
          </div>
        </div>
      </section>
    </main>

    <footer>
      <div class="footer__logo">
        <img src="/assets/img/logo.svg" width="80" alt="" />
      </div>
      <div class="footer__nav">
        <a href="../../index.html">Beranda</a>
        <a href="../bantuan/index.html">Bantuan</a>
        <a href="../artikel/index.html">Artikel</a>
        <a href="../quotes/index.html">Quotes</a>
      </div>
      <div class="footer__socmed">
        <a href="https://facebook.com">
          <img src="/assets/img/icons/fb.svg" width="35" alt="" />
        </a>
        <a href="https://facebook.com">
          <img src="/assets/img/icons/yt.svg" width="35" alt="" />
        </a>
        <a href="https://facebook.com">
          <img src="/assets/img/icons/twitter.svg" width="35" alt="" />
        </a>
        <a href="https://facebook.com">
          <img src="/assets/img/icons/ig.svg" width="35" alt="" />
        </a>
        <a href="https://facebook.com">
          <img src="/assets/img/icons/linkedin.svg" width="35" alt="" />
        </a>
      </div>
      <hr />
      <div class="footer__copyright">
        <p>&copy; 2022 Digital CItizenship. All rights reserved.</p>
      </div>
    </footer>
    <!-- MAIN JS -->
    <script src="/assets/js/main.js"></script>
  </body>
</html>
