<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../assets/css/style.css" />
    <link rel="shortcut icon" type="image/jpg" href="../../assets/img/icon.svg" />
    <title>Digital Citizenship</title>
  </head>
  <body>
    <!--=============== HEADER ===============-->
    <header class="header" id="header">
      <nav class="nav container">
        <a href="../../index.html" class="nav__logo">
          <img src="../../assets/img/logo.svg" height="40" alt="Logo" />
        </a>

        <div class="nav__menu" id="nav-menu">
          <ul class="nav__list">
            <li class="nav__item">
              <a href="../../index.html" class="nav__link">Beranda</a>
            </li>
            <li class="nav__item">
              <a href="../bantuan/index.html" class="nav__link">Bantuan</a>
            </li>
            <li class="nav__item">
              <a href="../artikel/index.html" class="nav__link">Artikel</a>
            </li>
            <li class="nav__item">
              <a href="../quotes/index.html" class="button button__header">Quotes</a>
            </li>
          </ul>

          <!-- Close button -->
          <div class="nav__close" id="nav-close">
            <img src="../../assets/img/icons/close.svg" width="16" alt="Tutup" />
          </div>
        </div>
        <!-- Toggle button -->
        <div class="nav__toggle" id="nav-toggle">
          <img src="../../assets/img/icons/menu.svg" width="16" alt="Toggle" />
        </div>
      </nav>
    </header>

    <main class="main">
      <section class="law__container container">
        <div class="law__info">
          <h1 class="law__title">
            Digital Citizenship <br />
            <span> Sadar Hukum Online Speech di Sosial Media </span>
          </h1>
          <p class="law__subtitle">Kebebasan berpendapat hari ini mengambil bagian dalam ruang lingkup kemajuan teknologi dan internet di mana kita bebas mengekpresikan diri dengan cara yang berbeda melalui media sosial.</p>
          <div class="law__image center">
            <img src="../../assets/img/privacy-policy.svg" alt="Ilustrasi Privacy Policy" />
          </div>
        </div>
        <div class="law2__info">
          <h1 class="law2__title">Aturan Hukum Kebebasan Berpendapat</h1>
          <p class="law2__subs">
            Berpendapat sekaligus berekspresi di media sosial saat ini tidak jarang justru menjurus pada tindakan kurang menyenangkan bahkan merugikan orang lain, seperti cyber bullying, pencemaran nama baik, dan pelanggaran privasi.
            Sebagai digital-citizen yang baik, kita perlu memperhatikan serta mengindahkan beberapa hukum yang mengatur cara berekpresi sebagai bentuk kebebasan berpendapat kita dalam dunia siber.
          </p>
        </div>
      </section>

      <section class="law">
        <div class="law2__container container">
          <div class="law2__image center">
            <img src="../../assets/img/law1.svg" alt="Ilustrasi Hukum" />
          </div>
          <div class="law3__info">
            <h1 class="law3__title">Pasal 23 ayat (2) Undang-Undang Nomor 39 Tahun 1999 tentang Hak Asasi Manusia (“UU HAM”) sebagai berikut :</h1>
            <p class="law2__desc">
              Kita tetap dapat ambil peran dalam memerangi aksi merugikan tersebut. harapannya kita memiliki kesadaran terhadap urgensi aksi cyberbullying di sekitar kita. Sehingga kita dapat mencegah tindak perundungan yang bisa kita temui
              saat berselancar di media sosial. Juga dapat bersikap bijak untuk membantu mereka yang membutuhkan.
            </p>
          </div>
        </div>
        <div class="law3__container container">
          <div class="law2__image center">
            <img src="../../assets/img/law2.svg" alt="Ilustrasi Hukum" />
          </div>
          <div class="law3__info">
            <h1 class="law3__title">Memperhatikan nilai, norma, hak orang lain, dan tunduk pada hukum yang berlaku. Diatur dalam Pasal 28J ayat (2) UUD 1945 sebagai berikut :</h1>
            <p class="law2__desc">
              Dalam menjalankan hak dan kebebasannya, setiap orang wajib tunduk kepada pembatasan yang ditetapkan dengan undang-undang dengan maksud semata-mata untuk menjamin pengakuan serta penghormatan atas hak dan kebebasan orang lain
              dan untuk memenuhi tuntutan yang adil sesuai dengan pertimbangan moral, nilai-nilai agama, keamanan, dan ketertiban umum dalam suatu masyarakat demokratis.
            </p>
          </div>
        </div>
      </section>
    </main>

    <footer>
      <div class="footer__logo">
        <img src="../../assets/img/logo.svg" width="80" alt="Logo" />
      </div>
      <div class="footer__nav">
        <a href="../../index.html">Beranda</a>
        <a href="../bantuan/index.html">Bantuan</a>
        <a href="../artikel/index.html">Artikel</a>
        <a href="../quotes/index.html">Quotes</a>
      </div>
      <div class="footer__socmed">
        <a href="https://facebook.com">
          <img src="../../assets/img/icons/fb.svg" width="35" alt="Facebook" />
        </a>
        <a href="https://youtube.com">
          <img src="../../assets/img/icons/yt.svg" width="35" alt="Youtube" />
        </a>
        <a href="https://twitter.com">
          <img src="../../assets/img/icons/twitter.svg" width="35" alt="Twitter" />
        </a>
        <a href="https://instagram.com">
          <img src="../../assets/img/icons/ig.svg" width="35" alt="Instagram" />
        </a>
        <a href="https://linkedin.com">
          <img src="../../assets/img/icons/linkedin.svg" width="35" alt="LinkedIn" />
        </a>
      </div>
      <hr />
      <div class="footer__copyright">
        <p>&copy; 2022 Digital CItizenship. All rights reserved.</p>
      </div>
    </footer>
    <!-- MAIN JS -->
    <script src="../../assets/js/main.js"></script>
  </body>
</html>
